[2016-01-25 21:29] bfritscher opened #9 "Broken on windows because of path.join"
os.path.join adds 'list\\123\\members' instead of 'list/123/members' on windows.

[2016-01-26 14:11] albedoweb commented on #9
Also came across this
Better to use always "/"
In baseapi.py something like:
[code]

[2016-01-26 14:27] charlesthk commented on #9
That's a good solution ! Would you please consider making a pull request about this change ?

[2016-01-26 14:28] #9 closed

[2016-03-02 20:42] talespadua opened #16 "campaigns.send() raise TypeError"
I am trying to send emails of a campaign trought `client.campaign.send(campaing_id="some_id")`, but it gives me the error `TypeError: request() got an unexpected keyword argument 'json'`

I am missing something or this is a bug?

[2016-03-06 14:26] charlesthk commented on #16
Hi,
this seems to be an issue with python-requests, which version of python-requests are you using ? Before version 2.4.2, python-requests does not accept the json keyword argument.

[2016-03-07 11:43] talespadua commented on #16
You are right, I was using older version of python-requests.
Fixed now. Thanks!

[2016-03-07 11:43] #16 closed

[2016-04-01 20:19] thangtx opened #20 "Add subscriber to list without sending confirmation"
Hi
I try to subscribe without sending confirmation but not work:
[code]

[2016-04-01 20:55] charlesthk commented on #20
Hi,

I have just tested it on my side and it works. Could you please give me more details about the response you have ?

Please check the following :
- When you call `client.member.create('xxxxxxxx',data)` is 'xxxxxxxx' your list ID ?
- Is `base_settings.MAIL_CHIMP_ACCOUNT` the username or email you use to login to your account on the web ?

Let me know.

[2016-04-01 20:58] thangtx commented on #20
Hi

- When you call client.member.create('xxxxxxxx',data) is 'xxxxxxxx' your list ID ?
=> Yes, xxxxxxxx is my list id.
Is base_settings.MAIL_CHIMP_ACCOUNT the username or email you use to login to your account on the web ?
=> base_settings.MAIL_CHIMP_ACCOUNT is my username.

Thank you.

[2016-04-02 13:50] thangtx commented on #20
Hi
I have test mailchimp api with Postman, it still sending confirmation email
[code]

Response data
[code]

[2016-04-07 13:06] t-pfaff opened #21 "Why only 10 email addresses per list?"
I wonder why `all()` in [member.py](https://github.com/charlesthk/python-mailchimp/blob/5604fe711629b40dd49c16ac221528cb561bc502/mailchimp3/entities/member.py) only returns 10 members? The [MC API Docs](http://developer.mailchimp.com/documentation/mailchimp/reference/lists/members/#read-get_lists_list_id_members) don't mention a restriction.

[2016-04-07 13:32] t-pfaff commented on #21
I found a solution [here](http://stackoverflow.com/questions/30654697/mailchimp-api-3-0-how-do-i-get-more-than-10-entries-from-users-or-interests). You just need to add `?count=1000000` at the end of the URL (which is a large enough number). Not sure if you want to implement this in the code.

[2016-04-08 13:28] aaugustin opened #22 "Suggestion - show how to add a user to a list towards the top of the README"
I believe the following is a rather common use case:

- sign up for MailChimp
- create a list
- subscribe users to this list when they sign up

It takes a few minutes to figure out the solution:

[code]

The onboarding experience would be smoother if the README showed that example (or a similar one).

I hope this feedback helps!

[2016-04-08 16:35] #22 closed

[2016-04-08 16:35] charlesthk commented on #22
Thanks for this one, you are right !

[2016-04-08 18:33] aaugustin opened #24 "Add support for "Add or update a list member""
It's documented here:

http://developer.mailchimp.com/documentation/mailchimp/reference/lists/members/#edit-put_lists_list_id_members_subscriber_hash

This operation looks quite convenient because it's idempotent: it allows you to put a user in a list safely, regardless of whether the user was already in that list.

The API could be:

    mailchimp.member.create_or_update(list_id, email, data)

Th

[2016-04-09 10:00] #20 closed

[2016-04-09 23:09] expert-seo commented on #20
How did you solve this issue ? Where was the problem ?

[2016-04-22 09:57] pcolmer opened #25 "client.member.create raises JSON error"
I'm trying to create a member in a list but I'm getting the following error:

  File "/usr/local/lib/python2.7/dist-packages/mailchimp3/entities/member.py", line 38, in create
    return self._mc_client._post(url=self._build_path(list_id, 'members'), data=data)
  File "/usr/local/lib/python2.7/dist-packages/mailchimp3/mailchimpclient.py", line 36, in _post
    r = requests.post(url, auth=self.auth

[2016-04-22 10:37] pcolmer opened #26 "Suggest using PUT instead of POST when creating list members"
There is an issue with how MailChimp handles deletion of list members, in that they don't delete them from the list, they change the status to "". If you want to add that person back to the list, you have to use the PUT operation to update the list member (PATCH apparently doesn't work).

http://developer.mailchimp.com/documentation/mailchimp/reference/lists/members/#

Since the PUT operation allo

[2016-04-22 11:03] pcolmer commented on #25
Sorry - I was using a version of requests that was too old.

[2016-04-22 11:03] #25 closed

[2016-04-26 00:43] jcreem opened #27 "File folders not fully implemented."
entities contains folder.py but __init__.py does not actually use the Folder class so it is not currently accessible.

[2016-04-27 08:18] #27 closed

[2016-05-11 10:54] gonzalomcruz commented on #24
Hi @aaugustin, I have created a new pull request which adds support for "create_or_update". Please check it out and vote up it here: https://github.com/charlesthk/python-mailchimp/pull/31

Thanks!

[2016-05-19 10:22] sumitkumar1209 commented on #21
fixes has been done in another repo for this problem, you can see the pull request here #32

@t-pfaff you can pass this in as parameter into these repo https://github.com/homaralex/python-mailchimp and https://github.com/sumitkumar1209/python-mailchimp

[2016-05-19 10:26] sumitkumar1209 commented on #26
Issue #24 is similar to this problem and has been resolved in the latest pull

[2016-05-19 10:32] charlesthk commented on #21
Hi, thanks for the pull request, I have just merged it into the master.

[2016-05-19 10:32] #21 closed

[2016-05-19 10:34] charlesthk commented on #24
Thanks for this PR, I have just merged it into the master !

[2016-05-19 10:34] #24 closed

[2016-05-24 15:35] tomako opened #33 "Suggestion to raise HTTPError with json"
In MailChimpClient._post() `raise HTTPError(r.json())` is called in this form.
In this way when we catch that exception can't parse it to python data structure.
If it was `raise HTTPError(r.content)` we could use json.loads() to load that data.

[2016-05-25 08:29] SandeR2012 opened #34 "Package on Pypi for python 3"
last available package for python 3 is [https://pypi.python.org/pypi/mailchimp3/1.0.12](url),
following versions are only for python 2 or it was planned?

[2016-06-22 13:53] andjelx opened #36 "Only 10 records returned"
Is this a bug e.g.  client.campaign.all() returns only 10.
How to handle all of them?

[2016-06-22 14:58] andjelx commented on #36
Am I correctly get that I need to invoke client.campaign.all(count=XXX) to get all elements?

[2016-06-28 13:13] andybak commented on #36
Seems that way from playing with client.member.all

Would be useful to document this.

[2016-06-28 13:17] andybak opened #37 "No mention of 'member' in readme"
I had to look through the source. I had been assuming it was list.members or similar.

Also - as mentioned in #36 - a mention in the docs about 'count' and other kwargs would be useful.

[2016-06-29 09:00] andjelx commented on #36
I have made short pull request to really process all entities - https://github.com/charlesthk/python-mailchimp/pull/39

[2016-07-10 11:33] #33 closed

[2016-07-10 11:34] charlesthk commented on #36
Thanks @andjelx I have merged your PR !

[2016-07-10 11:34] #36 closed

[2016-07-18 19:56] chrism2671 commented on #37
Did you figure out how to get the members of a list?

[2016-07-19 10:30] andybak commented on #37
I think this worked:

        client = MailChimp('', settings.MAILCHIMP_APIKEY)
        api_response = client.member.all(settings.MAILCHIMP_LIST_ID, count=99999)
        members = api_response['members']

[2016-07-26 21:06] lamc opened #41 "MailChimp 3.0 Batch Operations - not mentioned in documentation"
Do you have any documentation on how to implement batch operations with your wrapper.

I'm trying to create (push) new members to an existing list.

[code]

Is it that the api call of .create is expecting just one data object and not an array of dictionaries, that have all my user data in dictionaries?

[2016-07-27 11:14] sataloger opened #42 "Add versioning on github"
Now project has 1.0.21 version in `setup.py`, but 1.0.17 on pypi and it's not easy to track commit which corresponds to each version. Think that adding versioning tags on github will help with this and make source installation easier (e.q. `pip install -e git+git://github.com/charlesthk/python-mailchimp.git@1.0.20#egg=mailchimp3`)

[2016-07-27 16:41] stephenross opened #43 ".all() does not function as expected for all entity types"
Some entities such as members truly return all entities when queried (thanks to issue #36 and the pull request there), but other entities such as lists still only pull the first 10 entities. If possible, please update all endpoints so that they use the same behavior in this regard. I will start working on a PR if I have time to resolve this, but I didn't see it mentioned that it was still an issue

[2016-07-27 19:49] charlesthk commented on #34
Hi,

I will port this package to python3 as soon as I can.

Thanks

[2016-07-27 19:49] charlesthk commented on #37
Hi,

I have updated the readme to explain how to use query params.

Thanks

[2016-07-27 19:49] #37 closed

[2016-07-27 19:50] charlesthk commented on #42
I have just upload a new version to pypi !

Thanks

[2016-07-27 19:50] #42 closed

[2016-07-27 19:51] charlesthk commented on #43
Hi,

I have updated the readme to answer you question.

You just need to add proper queryparams in your function like:

[code]

Let me know if that is ok for you.

Thanks

[2016-07-27 19:51] #43 closed

[2016-07-27 19:52] charlesthk commented on #26
Ok, I just close the issue then

[2016-07-27 19:52] #26 closed

[2016-07-28 12:50] aaugustin commented on #34
Indeed, I just noticed that I was getting 1.0.12 instead of the latest version.

The library appears to be working just fine on Python 3. Are you aware of things that don't work?

I'm happy to work on a Python 3 port if that helps. I have some experience — I ported Django.

[2016-07-28 12:54] aaugustin commented on #34
In order to release a Python 3-compatible wheel on PyPI, you have to create a `setup.cfg` file with the following contents:

[code]

Then `python setup.py bdist_wheel upload` does the right thing.

You could also upload a source distribution with `python setup.py sdist upload`. That will allow installation on Python 3.

Let me know if there's anything I can do to help.

[2016-07-28 13:35] charlesthk commented on #34
Hi @aaugustin, thanks for your help, I really appreciate. I have done what you suggested.

How can I give you proper access to the repo so that you can help me port this to Python3 ?

Many thanks.

[2016-07-28 16:14] aaugustin commented on #34
I can work in my fork and submit pull requests. That should be enough. I don't expect the port to require many changes.

If you want to give me access to this repo, you can go to Settings > Collaborators and add me there.

[2016-08-12 13:29] charlesthk commented on #34
I have just invited you as a collaborators, feel free to submit a pull request.

[2016-08-23 11:42] aaugustin commented on #34
There's now a wheel on PyPI that works on Python 3, as far as I can tell.

I'll follow up in another issue or PR if I have changes to suggest.

[2016-08-23 11:42] #34 closed

[2016-08-24 16:20] OleLaursen opened #46 "Inconsistent error handling"
I got an HTTPError from a list.create (BTW why is this not lists.create?) with no explanation at all. Looking at the source, I can see that _post raises HTTPError(request=r) with r being the response and not the request (I suppose that's a bug). _get, _delete, and _patch/_put all do different things. This makes it really hard to code robustly against.

I don't know if some of this is due to MailCh

[2016-09-02 10:38] aaugustin opened #48 ""Add or update a list member" doesn't compute hash"
#24 added `member.create_or_update`, however, it expects the subscriber hash in argument instead of computing it from the email address.

This surprised me because I expected the library to deal with that sort of low level concerns.

There's a `mailchimp3.helpers.get_subscriber_hash` function to compute this hash but it doesn't appear to be called anywhere. It was added in 344398b79f92268de88689ab

[2016-09-07 21:12] zruu commented on #46
+1 I totally agree with Ole.

[2016-09-08 10:28] charlesthk commented on #46
Thanks for this issue. I will have a look at it !

[2016-09-08 10:45] charlesthk commented on #46
@OleLaursen we can do that : "All methods raise an exception upon getting back a not-OK status". Indeed, an OK status is when the response have a status code of 200 and when you create an object, the response status code is 201 (CREATED) so we don't want to raise an error.

What's needed, is a consistent error handling for python requests errors, and for mailchimp api errors. I suggest we use `rai

[2016-09-12 23:56] cherdt opened #50 "client.list.all() returns the first 10 lists, not all lists"
The doc comments for _all_: "returns the first 10 subscriber lists in the account."

Is there a currently a way to retrieve all lists using this library?

[2016-09-13 10:49] charlesthk commented on #50
You can pass a `count`parameter to increase the number of lists to retrieve, eg :
[code]

[2016-09-13 10:49] #50 closed

[2016-09-13 10:50] charlesthk commented on #46
@OleLaursen, can you tell me if the commit I did answer your needs ?

[2016-09-13 12:25] OleLaursen commented on #46
Yes, I think so. I've just updated my code and done a couple of tests and so far everything seems to be working fine. I'll open another issue if I find a problem. Thanks!

[2016-09-13 12:25] #46 closed

[2016-09-14 21:07] stephenross commented on #48
I have added this to my branch that is currently sitting in PR #45. Please take a look and let me know if that is what you had in mind, it is commit [26f100d](https://github.com/charlesthk/python-mailchimp/pull/45/commits/26f100dd2b46703bd3f74e36090f84117e9ed39a)

[2016-09-14 21:21] charlesthk commented on #48
When you get all members in a list, mailchimp gives you the id (=the hash) for each member.

Based on that, I suggest we replace `member_id` kwargs with `member_id_or_email`, then we :
1 - check if the value is an email of an hash, otherwise we return an exception
2 - if it is a hash, continue
3 - if it is an email, compute the hash and continue

This way, we can stick to mailchimp API's structure

[2016-09-15 10:02] aaugustin commented on #48
@stephenross There's a lot of changes in #45; I think it might be easier to fix this separately.

[2016-09-15 12:44] PatrickWatzlawik opened #51 "request.patch got an unexpected keyword argument 'json'"
I'm trying to update the subscription status of a user with help of your nice little library and got into an issue:

[code]

which results in following traceback:
[code]
Looking into Pythons requests `patch` method shows:

[code]

I think when you change `requests.patch(url, auth=self.auth, json=data)` to `requests.patch(url, auth=self.auth, data=data)` everything should work.

Maybe I'm wrong and

[2016-09-15 12:52] charlesthk commented on #51
Hi !

It looks like your requests library is under 2.4.2 (do a  `pip freeze` to check).

As python-requests [documentation](http://docs.python-requests.org/en/master/user/quickstart/#more-complicated-post-requests)

Let me known !

[2016-09-15 13:00] PatrickWatzlawik commented on #51
Hey Charles,

Thanks for your fast response. You're right, requests was at 2.2 and 2.11 ist the current version and everything works now!

Thanks again and sorry for any inconveniences :) Hope you're having a nice day!

[2016-09-15 13:00] #51 closed

[2016-09-22 15:02] stephenross commented on #48
Take a look at the [helpers.py](https://github.com/stephenross/python-mailchimp/blob/bc8a6e255d8e8bf2872fb28dbcb0619ea8f9f318/mailchimp3/helpers.py) file that I have updated. The plan will be to pass anything that should be a subscriber_hash to the `check_subscriber_hash()` function, which will return the value if it is a 32 character hex string (that MD5 generates), and if there is no match, it w

[2016-09-26 13:32] sankycse opened #53 "pip package not updated"
pip package not updated to the latest. segment section is missing installing through pip

[2016-09-26 15:57] stephenross commented on #41
There is no current documentation in the package on how to run batch operations. There is a method in the batches attribute of the MailChimp class that you can use to perform this, with some basic documentation in the docstring. You would use `client.batches.execute()` and pass in a dictionary of data as mentioned [here](https://github.com/charlesthk/python-mailchimp/blob/master/mailchimp3/entitie

[2016-09-27 17:08] ucola opened #54 "client.member.all - HTTP Error 404"
We became this error on client.member.all call, any idea?

`
Traceback (most recent call last):
  File "./mailchimp_sync.py", line 8, in <module>
    print client.member.all('1234')
  File "/scripts/mailchimp3/entities/member.py", line 17, in all
    return self._mc_client._get(url=self._build_path(list_id, 'members'), **queryparams)
  File "/scripts/mailchimp3/mailchimpclient.py", line 25, in wra

[2016-09-28 20:51] ucola commented on #54
MailChimp was having problems with the api, now it works

[2016-09-28 20:51] #54 closed

[2016-09-28 22:44] ucola commented on #41
would be nice if somebody can put a peace of code here on how they works?

[2016-09-29 09:13] ucola commented on #41
Here you have an example how to subscribe a user over batch

`
batchdata = [{'action': 'create', 'entity_params': {'lists', '1234', 'members'}, 'data': {'email_address': 'test@test.com', 'status': 'subscribed', 'merge_fields': {'FNAME': 'name', 'LNAME': 'name'}}}]
result = client.batches.execute(batchdata)
print result['status']
`

[2016-10-28 10:06] siscia opened #56 "Library needs love"
I don't want to sound mean or demanding or anything, just sharing some constructive feedback.

Unfortunately I wasn't able to use this library at all, and it is a shame :(

I am not even able to create a campaign and I don't know what I am doing wrong.

[code]

What am I doing wrong here? Why it returns an error? How do I check what error I made?

Also, the version is not updated on pip.

It seems

[2016-10-28 10:21] charlesthk commented on #56
Hi @siscia the repo has been updated this night. I put the new version on pypi today!

Let me some time to check your error and I will get back to you.

Charles

[2016-10-28 13:23] stephenross commented on #56
Looking at the error message that you are receiving, it looks like you are using an older version of the python-mailchimp wrapper. I just merged an overhaul last night that restructured the wrapper to match the [MailChimp API documentation](http://developer.mailchimp.com/documentation/mailchimp/reference/overview/). Please download the newest version from here while we work on getting v2.0.0 up in

[2016-10-28 16:37] raagin opened #57 "If the subscriber exists"
If the subscriber exists, and i use: member.create method. It is return to me HTTPError which have no explanation.

[2016-10-28 16:40] raagin opened #58 "Wrong Docs"
if i use client.lists how it's described in readme. i have:
`AttributeError: 'MailChimp' object has no attribute 'lists'`

[2016-10-28 16:48] stephenross commented on #58
Could you please specify exactly what you are trying to do and what line you are having an error with?

[2016-10-28 16:49] charlesthk commented on #58
Maybe you were using the 1.0 version, we have just published the new version on PyPi.

Please consider doing a `pip install mailchimp3 --upgrade`

[2016-10-28 16:50] charlesthk commented on #56
The 2.0.0 version is now on Pypi.

[2016-10-28 16:50] charlesthk commented on #53
The new version is uploaded on Pypi.

[2016-10-28 16:50] #53 closed

[2016-10-28 16:53] stephenross commented on #57
Please ensure you are using the most recent version of the python-mailchimp (mailchimp3 on PyPi, version 2.0.0). The new version does not use the singular syntax that the older version did, so you would be looking at something like `client.members.create()`. Please past a copy of the error message that you received as well so that we can take a look if you are able to confirm that you are using py

[2016-10-28 16:54] charlesthk commented on #57
@stephenross maybe we could consider put singular name in addition to plurals for backward compatibility ?

[2016-10-28 16:57] stephenross commented on #57
@charlesthk I thought about that as well, probably would be a good idea with a deprecation notice if they are used, to make the 2.0.0 transition less destructive. I am not quite sure how to do something like a deprecation notice though, so if you have any suggestions I would be happy to take a look at merging the old structure with the new.

[2016-10-28 16:59] stephenross commented on #48
With the merging of PR #45 all of the methods that act on list members by using a provided hash will now verify whether the item passed was a hash or an email address, and if the latter, compute the former. The only time an error will be returned now will be if the user passes something that is neither a hash nor an email address, otherwise an attempt will be made to send the request.

[2016-10-28 16:59] #48 closed

[2016-10-28 17:03] stephenross commented on #41
With the update to v2.0.0 through PR #45, the prep and execute methods have been removed, partly because of the poor documentation on those methods. You can find documentation on the expected data when creating a batch operation [here](http://developer.mailchimp.com/documentation/mailchimp/reference/batches/#create-post_batches), and as mentioned before, you will need to manually convert the body

[2016-10-28 17:03] #41 closed

[2016-10-28 17:31] raagin commented on #57
Yes, you are right! by default "pip install mailchimp3" sent me mailchimp3-1.0.26 version.
Thank you!

[2016-10-28 17:52] #57 closed

[2016-10-29 13:02] raagin commented on #58
Yes, i tried "pip install mailchimp3 --upgrade", got the new version (2.0.0) and everything works as expected. Thanks!

[2016-10-29 13:40] charlesthk commented on #58
Thanks, that is perfect then.

[2016-10-29 13:40] #58 closed

[2016-10-29 13:40] charlesthk commented on #56
@siscia is your problem resolved now ?

[2016-10-30 09:33] siscia commented on #56
Huuummm, still something I am not getting.

[code]
Which is correct since the mailchimp api require the field `recipients` to be an object and not an array, however if I try to use an array I get:

[code]

I don't quite understand what is wrong...

[2016-10-30 15:25] stephenross commented on #56
Hello @siscia, It looks like I messed up parsing that part of the campaign data. Please download the issue-56 branch and verify that that corrects the issue.

[2016-10-30 21:06] SavinaRoja opened #59 "Changes in mailchimp API?"
New to both the mailchimp API as well as `python-mailchimp`, but I did some investigation on an issue I am having that leads me to think that perhaps something has changed in the API that `python-mailchimp` wraps.

To start, I was getting an error trying to fetch the email addresses out of one of my mailchimp lists using one of the examples:

`data = client.lists.members.all('<my-list-id>', fields

[2016-10-31 17:14] stephenross commented on #59
Hello @SavinaRoja

Thanks for pointing out that oversight, never did actually test the all using specific fields, I will update all of the `all()` methods to add that key if it is not in there so that the iterate does not fail, as for the helpers issue with the merge_dict, I will need to look into that a bit later and see what we can do to get it working. Neither of these is an issue with the API

[2016-10-31 18:04] SavinaRoja commented on #59
This might serve for the dictionary merging. I replaced `merge_two_dictionaries` with this exact code and the results were good.

[code]

The only issue was that there is a duplicate (redundant) call in the iteration in `BaseApi._iterate`. I adjusted it to the following and got results that looked good.

[code]

[2016-10-31 21:22] aaugustin opened #61 "Exception.message doesn't exist on Python 3"
The current implementation (perhaps since version 2?) uses liberally the following pattern:

[code]

Unfortunately `error.message` was deprecated in Python 2.6 and removed in Python 3.

[2016-10-31 22:17] SavinaRoja commented on #61
Good note, this would obfuscate troubleshooting in current versions.

The comparable way to do this in Python 3 would be:

[code]

http://stackoverflow.com/questions/6062576/adding-information-to-an-exception#tab-top has some information on supporting both the old and new patterns. Just using `six` would probably do.

However, it really looks like this pattern is being used as validation of dict i

[2016-10-31 22:23] aaugustin commented on #61
Python 3 is murch more easy. You don't have anything special do to. Just write this and exception chaining will provide the correct information:

[code]

Of course any other exception type can be used and the original exception is preserved in all cases.

I think it's possible to emulate exception chaining on Python 2 but I'm not sure how. (Personally I'm no longer investing any effort towards Pyt

[2016-10-31 22:27] aaugustin opened #62 "`enabled=False` doesn't work for methods that access `response['id']`"
Currently python-mailchimp contains code like this in various methods:

[code]

Unfortunately, when `enabled=False`, this fails because `self._mc_client._post` returns `None`:
[code]

I think `self.subscriber_hash = response['id'] if response else None` would do the job.

@stephenross If you added this code in your recent refactor perhaps you have an opinion on this? Thanks!

[2016-11-01 15:02] stephenross commented on #62
Check out PR #63 to see if that will fix the problem that you found and let me know.

[2016-11-01 15:45] stephenross commented on #61
@aaugustin You are correct, the version 2 refactor added all those exceptions and I was unaware at the time that that format for adding information to exceptions had been deprecated.

@SavinaRoja I see that the link that you have provided does include information on using `six.reraise()` to allow for raising an exception in a manner that functions properly in both Python 2.x and 3.x

I have found

[2016-11-01 15:52] stephenross commented on #61
Apparently the future that I found is not `__future__` but a PyPi package called future, however it does appear to be a clean way of making bridging the gap simple, so I would like feedback from some of the other collaborators on what you think of using that library inside of python-mailchimp, or if we should stick to using sys and six to handle the cross generational exception handling. Documenta

[2016-11-01 17:21] aaugustin commented on #61
Django uses this pattern:

[code]

(but we're dropping it in a couple months, along with the rest of Python 2 backwards compatibility.)

[2016-11-01 17:30] stephenross commented on #61
I can do that, though I am going to work to maintain the Python 2 backwards compatibility for the foreseeable future as the application I support at work that uses this library is currently written with 2 and will remain so for the foreseeable future for a while yet.

[2016-11-01 17:32] aaugustin commented on #61
Of course, this isn't a problem :-) Hopefully you can do this refactoring in a reasonably automated way.

[2016-11-01 17:57] stephenross commented on #59
Merged, closing issue

[2016-11-01 17:57] #59 closed

[2016-11-01 18:02] stephenross commented on #62
Merged

[2016-11-01 18:02] #62 closed

[2016-11-01 21:33] stephenross commented on #61
@aaugustin Just to have another set of eyes on it, does that PR look good to you?

[2016-11-01 21:38] aaugustin commented on #61
Yes I think that should work. Thanks.

[2016-11-01 21:39] aaugustin commented on #61
Perhaps we should push a bugfix release with the various fixes we discussed over the last couple days?

[2016-11-01 21:41] stephenross commented on #61
@aaugustin I agree, though I think we should wait until #56 is resolved. I am not that familiar with PyPi, but would we reversion (2.0.1), or would we simply replace what is currently available under 2.0.0?

[2016-11-01 21:56] aaugustin commented on #61
You can't replace a release, you have to make a new release with a new number. 2.0.1 sounds fine in this case.

[2016-11-02 18:52] tgrant59 opened #66 "lists.update_members endpoint is incorrect"
The Endpoint is supposed to have the list ID tacked on to the end, but it currently isn't, so this function is totally broken.

I'll create a PR shortly

[2016-11-02 19:23] stephenross commented on #66
Herp derp, merged, thanks for the PR

[2016-11-02 19:23] #66 closed

[2016-11-02 19:49] tgrant59 opened #68 "lists.update_members requires "status" for users, when Mailchimp API does not"
The "status" value is required by the function, but is not required by the Mailchimp API.

In my use case, I need to be able to update members' data without overwriting their status. The Mailchimp api allows the handy "status_if_new" parameter, which will update all other given fields and merge tags for a member without overwriting status.

I understand the reasoning for requiring "status" (the AP

[2016-11-02 20:10] tgrant59 commented on #68
This is also true for lists.members.create_or_update. It should allow the use of status_if_new.

There may be more places this applies

[2016-11-02 20:26] stephenross commented on #68
I see that now, it appears the status_if_new option is not listed at all in the documentation outside of the example that they provided on the batch add. I will whip something up shortly, and I noticed there are a couple more functions to add that were added with the 2016-10-27 changelog that need to be implemented as well. If you would like to make a pull request to fix the issue with the status_

[2016-11-02 20:28] stephenross opened #69 "Add new items from the 10/27/2016 changelog"
See the MailChimp API [changelog](http://developer.mailchimp.com/documentation/mailchimp/guides/changelog/) for info on the extra methods that need adding. Note to self, do this and make a PR.

[2016-11-02 20:29] stephenross commented on #61
I am adding a new issue related to that so that we can better track when to push the next release, since there are a couple issues open and after they are finished we should be good to go

[2016-11-02 20:29] #61 closed

[2016-11-02 20:31] stephenross opened #70 "New release to PyPi"
We need to make a PR after issues #56, #68, and #69 are resolved to update the version number, badges, and README files to 2.0.1 and then put it up on PyPi, assuming nothing else breaks before then.

[2016-11-02 23:25] charlesthk commented on #70
@stephenross Yes, I agree, I will put the 2.0.1 on pypi as soon as it is ready.

Thanks.

[2016-11-02 23:39] stephenross commented on #68
Merged

[2016-11-02 23:39] #68 closed

[2016-11-02 23:41] stephenross opened #72 "Clean up the way we check the data dictionaries"
I am a derp and did a bunch of try except garbage for 2.0.0 when I should have just been checking if x in y. Changing to that format will be much cleaner and probably remove the kludgy use of six and sys that was recently added

[2016-11-02 23:42] stephenross commented on #70
Want to also clear #72 as well, will look at doing that when I am in front of a real machine instead of a phone.

[2016-11-03 01:39] stephenross commented on #69
If someone can verify PR #73 that I didn't miss anything, that would be cool

[2016-11-03 15:55] stephenross commented on #72
If someone could drag another pair of eyeballs over PR #74 so that I have confirmation of nothing dumb like spelling mistakes and the like, that would be awesome.

[2016-11-03 16:15] stephenross commented on #56
I rebased to the current master and did a test run using the use case presented and was able to successfully create a campaign, so I have merged PR #64 and consider this issue resolved

[2016-11-03 16:15] #56 closed

[2016-11-06 06:57] kimtn-bitmark opened #75 "`client.campaigns.actions.send` throw exception although the email has been sent success"
I'm getting error above when using `client.campaigns.actions.send` API.

[code]

Looks like response data from `mailchimp` is not `json` format.

#python3, #mailchimpv3.

[2016-11-07 15:49] stephenross commented on #69
PR merged and closed

[2016-11-07 15:49] #69 closed

[2016-11-07 15:50] stephenross commented on #72
PR merged and closed

[2016-11-07 15:50] #72 closed

[2016-11-07 16:00] stephenross commented on #75
Looking at the documentation, it was missed that the response on those actions would return a standard no content response on success, which means that there is no data for the JSON decoding. I have a Pull request open that is linked, please download the `issue-75` branch and let us know if that resolves this issue.

[2016-11-08 15:10] charlesthk commented on #70
@stephenross should I publish the new release to PyPi ?

[2016-11-08 15:10] aaugustin commented on #70
@stephenross I believe you've fixed all the outstanding issues? Is there anything left before we can release a 2.0.1? Since there were a few annoying bugs in 2.0.0 it'd nice to publish quickly.

[2016-11-08 15:10] aaugustin commented on #70
@charlesthk Did you just beat me at a race condition? ;-)

[2016-11-08 15:12] aaugustin commented on #70
FWIW I think it's a good idea to make a 2.0.1 now. Nothing prevents doing a 2.0.2 if we have more fixes in the next days.

[2016-11-08 15:14] stephenross commented on #70
One minute, restarting and I will make the commit to push us to 2.0.1 then
we can shove it to PyPi

On Nov 8, 2016 10:12 AM, "Aymeric Augustin" <notifications@github.com>
wrote:

--
Please click to read Notices:
http://www.mediweightlossclinics.com/sig/ Confidential Communication
http://www.mediweightlossclinics.com/sig/ Educational Purposes Disclaimer
http://www.mediweightlossclinics.com/sig/ Fra

[2016-11-08 19:12] stephenross commented on #75
PR merged

[2016-11-08 19:12] #75 closed

[2016-11-08 19:14] charlesthk commented on #70
@stephenross are we good ?

[2016-11-08 19:17] stephenross commented on #70
Yes, sorry, there was a delay at work.

[2016-11-08 19:19] charlesthk commented on #70
@stephenross No problem, same here :)

The 2.0.1 is now on pypi.

[2016-11-08 19:19] #70 closed

[2016-11-09 08:23] aaugustin commented on #70
0 open issues \o/

[2016-11-09 11:14] daleobrien opened #80 "client.lists.merge_fields.create() is trying to extract the merge_id from response['id']"
Please see pull request #79

[2016-11-09 13:36] stephenross commented on #80
Fixed, now lets pretend I didn't miss that the first time

[2016-11-09 13:36] #80 closed

[2016-11-11 04:33] YuanZheCSYZ opened #81 "Typo on campaign.py"
On entities/campaigns.py line 174

`if 'reply_to' not in data['setting']:`
supposed to be
`if 'reply_to' not in data['settings']:`

[2016-11-11 05:23] neeljpatel opened #82 "merge id key"
merge_id key in merge fields response is not correct, should be merge_id not id

[2016-11-11 13:24] stephenross commented on #82
Already fixed with PR #79.

[2016-11-11 13:24] #82 closed

[2016-11-11 13:37] stephenross commented on #81
Fixed in PR #83

[2016-11-11 13:37] #81 closed

[2016-11-16 01:47] YuanZheCSYZ opened #85 "Schedule Campaign TimeZone Issue"
In file _entities/campaignactions.py_ line 97, it seems the the method **utcoffset** takes one argument.
`if data['schedule_time'].tzinfo.utcoffset() != timedelta(0):`

In my case I convert the local datetime to utc as below, is this the right way to do it?
`datetime.utcfromtimestamp(local_time.timestamp()).replace(tzinfo=datetime.timezone.utc)`

Thanks!

[2016-11-16 03:08] YuanZheCSYZ opened #86 "Schedule Campaign: Datetime is not JSON serializable"
Hi,

The schedule campaign interface seems not work quite happily with the datetime, as it throws below error
`TypeError: datetime.datetime(xxxxx) is not JSON serializable`

Indeed the datetime.datetime obj is not JSON serializable. I think may be cast it into string in the end will be better. Add below line to file entities/campaignactions.py line 102. I'm not quite sure what the '+00:00' means a

[2016-11-16 15:34] stephenross commented on #85
The `utcoffset()` method as used in the code is a `datetime.tzinfo.utcoffset()`, which only requires a `self` argument and will return either `None` or a `timedelta` object with a value of how far the current timestamp is from UTC (with 0 meaning they are the same). We check this value instead of attempting to alter the timezone to match UTC because of the difficulties in the various implementatio

[2016-11-16 15:34] #85 closed

[2016-11-16 15:41] stephenross commented on #85
Just noticed that you are asking on conversion of your local time to the UTC that mailchimp requires. Looking at that, it looks good per the documentation on those parts of `datetime`. You can always do some testing by attempting to send the data and see what the interface tells you (MailChimp allows API access even for free users, so just make a new free account if you don't want to worry about m

[2016-11-16 15:55] stephenross commented on #86
Thanks for pointing out the error, I have created a new branch that I would be happy to have you test. If you could use the issue-86 branch and verify that you are able to properly schedule a campaign with the changes it has, we will get it merged up and push a new release onto PyPi after.

[2016-11-16 22:11] YuanZheCSYZ commented on #86
Sure I will take a look. Thanks!

[2016-11-18 17:25] mailbackwards opened #88 "Access to response object + headers"
Some MailChimp data that used to live in the response body now lives in the response headers, for instance [the `web_id` of a campaign](http://stackoverflow.com/questions/39324653/no-web-id-in-mailchimp-api-v3). I need this data but it does not appear that it's available using this package. Is it or will it be possible to expose the response object or at least the response headers in question?

[2016-11-21 18:57] stephenross commented on #88
I am currently looking into what methods the dashboard for a campaign can be accessed but having trouble with my account. Once I hear back from MailChimp about that, I will try to get to the dashboard in some other way, though it may also be a good idea to submit a support request to get that information exposed or to allow the ID that you receive from the api to function as well. As a quick test

[2016-11-22 17:31] mailbackwards commented on #88
Yes, I tried replacing the link's web ID with the API `id`, and unfortunately that didn't work. Thank you for the feedback, I'll submit a support request as well.

[2016-11-23 09:48] juno-visualsquares opened #90 "Provide tarball (tar.gz) in pip"
This provides some convenience for users so as not to introduce extra dependency on wheel in development

[2016-11-23 13:45] charlesthk commented on #86
@YuanZheCSYZ does the patch by @stephenross solved this issue ?

[2016-12-02 22:39] stephenross commented on #86
@YuanZheCSYZ Can you verify that the patch corrects the issue that you were having?

[2016-12-05 13:42] stephenross commented on #90
@charlesthk Any chance we can do this?

[2016-12-05 14:43] charlesthk commented on #90
@stephenross I will have a look at it !

[2016-12-06 05:19] YuanZheCSYZ commented on #86
Oh sorry I was get distracted by some other work. I think there were still some issue with this one as well. I will have I go

[2016-12-06 05:51] YuanZheCSYZ commented on #86
Yeah I just tested, and I think it's working, but somehow my test campaign just doesn't like to be scheduled via neither Python client nor command line. Either way I will receive a 406 error saying "This campaign cannot be scheduled: .". However I can definitely schedule through the web interface.

Anyone has the similar issue?

[2016-12-06 06:11] YuanZheCSYZ commented on #85
I see what's wrong. The utcoffset method of datetime.time object does not require any argument while that of datetime.datetime is needed

[2016-12-20 12:48] mpachas opened #94 "Ask for requests version > 2.4.2 in dependencies"
json doesn't work with less

[2016-12-20 13:24] stephenross commented on #94
According to the README files, we do not support lower than 2.7.0 for the requests dependancy. Looking at the setup file, it looks like we don't specify a minimum version there, so I have created a pull request to fix that. Please let us know if there are any issues with that.

[2016-12-20 14:07] mpachas commented on #94
Thanks, its ok 👌

El 20 dic. 2016 14:24, "Stephen Ross II" <notifications@github.com>
escribió:

[2016-12-21 19:33] w1zeman1p opened #96 "No matching distribution found for mailchimp3==2.0.3 requirements.txt vs direct install"
I'm seeing some weird behavior when using requirements.txt vs when installing directly. Hoping you can shed some light on this.

**Python 2.7.6**
**Django 1.6.11**

When I install using requirements.txt like this:

`sudo /usr/local/python/django/bin/pip install -r config/myvr/requirements.txt`

The install fails and I see:

[code]

However, when I install directly like this:
`sudo /usr/local/pytho

[2016-12-21 19:44] stephenross commented on #96
Looking at the error trace provided in the first one, it looks like your pip is preventing the use of wheels, which would prevent the installation of mailchimp3 as that is currently the only way that it is available on PyPi. Specifically the line duplicated below
[code]

[2016-12-21 19:54] w1zeman1p commented on #96
Thanks for the quick response, @stephenross I'm going to experiment and will post when I know more.

[2016-12-21 22:54] w1zeman1p commented on #96
Your tip was the key, @stephenross !

The issue was that in the requirements.txt file there is a dependency on lxml and that dependency is setup to be installed without-threading so it looked like this

lxml==3.5.0 --install-option='--without-threading'

Any time --install-option (or --build-options or --global-options) are passed, that disables all use of wheels.

Our solution was to move the ins

[2016-12-21 22:54] #96 closed

[2016-12-22 18:47] charlesthk commented on #94
Hi, we have updated `setup.py` to ensure that requests version is high enough !

[2016-12-22 18:47] #94 closed

[2016-12-22 18:50] charlesthk commented on #86
@YuanZheCSYZ did you have a look at this thread on StackOverflow ?
http://stackoverflow.com/questions/36053294/mailchimp-api-v3-0-campaign-schedule-error

[2017-01-04 15:49] stephenross commented on #86
@YuanZheCSYZ did the article that @charlesthk linked to give you the answer to your issue? I believe that all of our creation functions require that you have the appropriate data points to be able to schedule a campaign when you create the campaign.

[2017-01-09 11:56] paluchmateusz opened #101 "TemplateDefaultContent wrong endpoint"
In class TemplateDefaultContent is used bad endpoint. I used 'reports' instead 'templates'.
When i call api i have error:

DEBUG requests.packages.urllib3.connectionpool "GET /3.0/reports/TEMPLATE_ID/default-content HTTP/1.1" 404 168
*** HTTPError: 404 Client Error: Not Found for url: https://us14.api.mailchimp.com/3.0/reports/TEMPLATE_ID/default-content

Where 'TEMPLATE_ID' is some id

[2017-01-11 19:05] austing opened #102 "Wrong path constructed at create email queue"
Hi!

Just noticed a bug on a feature that is probably used less often than the others. The code [here](https://github.com/charlesthk/python-mailchimp/blob/f113ccc6030aae28fbd9ed65d6472ff3fc001868/mailchimp3/entities/automationemailqueues.py#L54) appears to be copied from [here](https://github.com/charlesthk/python-mailchimp/blob/71fe2182fb318b1816a4069dd4ca05c524231e8c/mailchimp3/entities/automati

[2017-01-11 19:28] charlesthk commented on #102
Hi @austing , thanks for your issue. Your are totally right.

I have just fixed it.

[2017-01-11 19:28] #102 closed

[2017-01-17 21:09] stephenross opened #104 "Update Log catchup"
Update to match most recent changelog changes from 1/12/2017 and increment version number

[2017-01-23 18:58] charlesthk opened #106 "Use threading to speed up _iterate for BaseApi"
As for [Mailchimp documentation](https://developer.mailchimp.com/documentation/mailchimp/guides/get-started-with-mailchimp-api-3/#throttling) we can make up to 10 simultaneous connections to the API.

It can be pretty useful to create 10 separates threads to speed up time of retrieving large datasets.

As a benchmark, retrieving 23 000 contacts takes 235 seconds by batch of 5000.
With this method

[2017-01-25 13:21] stephenross commented on #104
This was completed in #105

[2017-01-25 13:21] #104 closed

[2017-01-25 13:21] stephenross commented on #86
As there has been no response in the last month, I am considering this issue resolved.

[2017-01-25 13:21] #86 closed

[2017-02-02 15:16] MelvinDRM opened #107 "Error handling"
Hello,

First of all, thanks for this library.

I think it would be of great value to add handling of errors, I haven't seen anything regarding them in your README. I was using your library in Django and when the endpoint returns with an error, Django explodes in the library instead of handling it. This means I never get the JSON of error, therefore I can never give a comprehensive message.

Here

[2017-02-02 15:41] stephenross commented on #107
We already handle a large number of errors and return meaningful error messages in the form of python Exceptions. For your app, you will need to use try/except to handle the error states that occur. Most of these errors will be `ValueError`s or `KeyError`s when specific data is not passed but is required, or the data passed does not match the required structure. These exceptions are raised before

[2017-02-02 15:49] stephenross commented on #101
This has been merged with #108. It will be loaded to PyPi shortly (@charlesthk)

[2017-02-02 15:49] #101 closed

[2017-02-02 16:34] charlesthk commented on #101
@stephenross , 2.0.7 is on PyPi, thanks.

[2017-02-10 09:41] goraniliev opened #112 "How to create multiple subscribers in single request"
I have a list of users (from my database) and want to insert them into Mailchimp list. Here is the code I initially used:

[code]

After the 10th request I get Bad Request Error without any specifics, but I guess I exceeded the limits. I am wondering how can this be done in singe batch request. I couldn't find some batch request example online. It would be great if you can provide one. I looked at

[2017-02-14 19:14] #112 closed

[2017-02-20 22:20] 4doom4 opened #113 "Can't delete users from list"
Hi,
i get None in return when executing client.lists.members.delete(MAILCHIMP_LIST_ID, subscriber_hash). At the same time I can update are create members in this list without any problem. Was there a recent change in API?
Thanks,
Max

[2017-02-21 14:04] nouney opened #114 "Where is `member`?"
Hi,

I upgraded `mailchimp3` and got the following error when trying to add a member to a list:

What happened?

[2017-02-21 14:14] stephenross commented on #114
You will need to provide some context, what was the exact code you were using when trying to add a member to a list and how were you authenticating your MailChimp account? Please post snippets of both of those (with your credentials redacted)

[2017-02-21 14:19] nouney commented on #114
Here's my code:

[code]

[2017-02-21 14:29] stephenross commented on #114
Ok, I see what you are doing. We completely overhauled the structure of the API wrapper with the change from version 1 to 2, with all endpoints now being linked using the hierarchy provided by the API documentation. Take a quick look at the README files for a quick rundown on making sure you are connecting to the API correctly (I don't think we changed that) and specifically look at the [list memb

[2017-02-21 14:29] #114 closed

[2017-02-21 14:36] nouney commented on #114
Oh I see, I should've take a look first, stupid me...

Thanks a lot @stephenross!

[2017-02-22 19:24] idangoldman commented on #107
@stephenross I'm looking for a bit more details on the error.

This is what I'm trying to do with the help of the package:

[code]

and this is the error I'm getting:

[code]

When I'm trying the same thing with CURL:

[code]

 I'm getting an elaborate error message:

[code]

How can I get the error's response body or how can I help to add this code to the package?

[2017-02-27 18:08] vladyslav2 opened #115 "Any example how to send 1 email to 1 person ?"
Hello.

Guys you have nice documentation but ...

I'm looking for pretty basic function - i just want to send 1 email to one recipient and ... i cannot find how to do that with 3.0 API!

Can any body help me, please?

Thank you

[2017-02-27 18:45] stephenross commented on #115
It sounds like you are trying to directly send an email using MailChimp to someone on demand? If this is a correct interpretation of your request, that is not really generally available through the API, if at all. MailChimp is primarily for managing email marketing, newsletters, and other similar volume email needs, where a single template will be sent to a number of users.

It is possible to send

[2017-02-27 18:45] #115 closed

[2017-02-27 18:50] stephenross commented on #113
Please take a look at the README if you have recently updated the mailchimp3 plugin as version 2.x is vastly different from 1.x. In general, most delete commands in the MailChimp API return an HTTP 204 (No Content) header, with the expectedly blank body. The List Member commands can be found [here](http://developer.mailchimp.com/documentation/mailchimp/reference/lists/members/), with the delete pe

[2017-02-27 18:50] #113 closed

[2017-02-27 20:04] mpachas commented on #115
@vladyslav2 Maybe you should check Mandrill, using this Python package https://pypi.python.org/pypi/mandrill/

[2017-02-27 20:06] vladyslav2 commented on #115
@stephenross thanks for such a quick response.

Let me explain full picture for you:
Right now we using mailchimp for marketing emails and for regular emails (signup email, password reset email) we are using a different company (sparkpost).
We thought that it might be a good idea for us to use mailchimp for both - marketing emails and regular site emails.

But, based on your answer mailchimp is no

[2017-02-27 21:52] vladyslav2 commented on #115
Looks like mandrill is what we are looking for

Thanks everyone

On Mon, Feb 27, 2017 at 3:04 PM mpachas <notifications@github.com> wrote:

--
best regards,
Vladyslav

[2017-02-28 21:30] richardmable commented on #107
Yes, +1 for this as well. Playing around with the Mailchimp API playground, you get more informative error messages than this library returns, which tends to be a generic
[code]
if issues arise other than required information is missing. I've currently wrapped my requests in `try/except` blocks like so, and with some digging, you can get the error fields out (assuming it returns the errors):

[cod

[2017-03-02 15:29] brondsem commented on #107
I have been using this for better errors:

    class MailchimpError(Exception):
        pass
    ...

    try:
        # use API here
    except HTTPError as e:
        if e.response.status_code == 400:
            json = e.response.json()
            raise MailchimpError(json.get('errors') or json.get('detail') or json)
        else:
            raise

[2017-03-06 15:06] Fizzadar opened #116 "Email checking with regex does not work"
The `check_email` function raises the `ValueError` for valid emails. Ultimately I believe there's no point doing any checking on email (except for the mere existence of `@`), because regex is [simply not up to it](https://davidcel.is/posts/stop-validating-email-addresses-with-regex/).

eg:

[code]

[2017-03-06 15:38] stephenross commented on #116
Your point is well written, and MailChimp strongly recommends 2 step
verification in the form of a welcome email sent to the user after their
initial addition to a list. Please write a pull request that modifies the
regex to simply check that there is a string that at least has the bare
minimum of 3 characters with an @ symbol as the middle.

On Mon, Mar 6, 2017 at 10:06 AM, Nick Barrett <notifica

[2017-03-09 15:49] #116 closed

[2017-03-15 14:08] jakul commented on #90
+1

I'm unable to install this package as I have to use `python setup.py install`, and setuptools won't install wheels

[2017-03-20 13:33] charlesthk commented on #90
@jakul @juno-visualsquares, I have published a new version to PyPi (2.0.9) with a tarball, could you please tell me if it is ok for you ?

[2017-03-20 14:07] jakul commented on #90
Works perfectly for me. Thanks for sorting this @charlesthk

[2017-03-20 14:16] charlesthk commented on #90
Ok perfect, I close the issue !

[2017-03-20 14:16] #90 closed

[2017-04-12 20:00] coredumperror opened #119 "[Support] How do you use this SDK with an apikey?"
The `MailChimp` class expects a username/password combination in order to authenticate with the MailChimp API. Yet from MailChimp's documentation, this doesn't appear to be how the API is designed to work. It expects an apikey, much like the pre-3.0 APIs did.

Perhaps this is the "Mailchimp secret key" mentioned in the `MailChimpClient` constructor's docstring? My application, which I'm currently

[2017-04-12 20:05] coredumperror commented on #119
Further research suggests that using HTTP Basic Authentication with any string for the username, and the apikey for the password, is the way to do this. So the existence of the `mc_user` argument in the constructor for `MailChimpClient`, and the following line in the README:

[code]

Seem pointless and confusing.

Perhaps you should remove the mc_user argument, and reword the documentation to:

[c

[2017-04-12 20:11] charlesthk commented on #119
Hi @coredumperror, as per [Mailchimp  API Documentation](http://developer.mailchimp.com/documentation/mailchimp/guides/get-started-with-mailchimp-api-3/), Basic authentication requires :

So a username (the one you use to log into your mailchimp's account) and a secret key are both required.

The MailChimpClient is therefor correct.

Let me know if this is ok for you.

[2017-04-12 20:15] stephenross opened #120 "Update API to match changes made in February"
Changelog shows some new hotness added at the end of February, this is a note to self to add the new endpoints and other goodies. As this includes adding 2 new endpoints, I will move the version to 2.1.0 when I push this up.

[2017-04-12 20:19] coredumperror commented on #119
No, the documentation is saying that your username is *not* required. That's what it means by "Enter any string as your username". I've even tested this:
[code]

This code works and returns all my lists, because the username in the HTTP Basic Auth is ignored by MailChimp.

So the fact that your account username isn't necessary means that this library requiring it, or even _mentioning_ it, is confu

[2017-04-12 20:29] stephenross commented on #119
Something that I think would likely be useful before we look into that
would be to look into what kind of logging is done by using the API and
whether that string of text is captured, in which case I would need to say
that the removal of that variable would be counterproductive, though we can
certainly look at updating the documentation on the use of that particular
part of the interface.

On Wed,

[2017-04-12 22:51] coredumperror commented on #119
So far as I can see, from using the API Playground for a while, the API's return values don't include the username used for basic auth. And considering that MailChimp specifically states that the username can be any string, I can't imagine why they'd care what value you happen to use.

I've also discovered that there's a way to use the API through `python-requests` without using `HTTPBasicAuth`. I

[2017-04-12 22:55] stephenross commented on #119
Code it up, update the docs, submit a PR. When making the change, allow the
argument to remain for anyone with legacy applications, simply make it
optional. If you don't have time, one of us will get to it soon in the next
few days.

On Apr 12, 2017 6:51 PM, "Robert Rollins" <notifications@github.com> wrote:

--
Please click to read Notices:
http://www.mediweightlossclinics.com/sig/ Confidential C

[2017-04-12 23:52] coredumperror commented on #119
Done! I hope the way I changed the code is acceptable.

[2017-04-27 18:35] coredumperror opened #126 "`get_subscriber_hash()` should not call `str.encode()`"
I ran into an error today in my app that uses `mailchimp3`, and tracked it down to the `get_subscriber_hash()` function calling `member_email.lower().encode()`. This use of `encode()` is problematic for three reasons:

1) Leaving out the _encoding_ argument causes `encode()` to use the default encoding, which is probably ascii. But it might be something else, and you definitely dont want this func

[2017-05-11 16:33] jazzyeagle opened #128 "client.lists.segments.create failing"
I'm getting an HTTPError: 400 when attempting to create a new segment.  Here is the code I'm using (sorry the spacing didn't come over properly.  Not sure what I'm doing wrong, but using quotes to show the spacing more appropriately):

For privacy purposes, I won't provide the JSON results of the first print.  Rest assured, I am getting the expected information back from the client.lists.segments.

[2017-05-11 17:38] jazzyeagle commented on #128
I did some additional digging and figured out what I was doing wrong.  Closing issue.  Sorry about that.

[2017-05-11 17:38] #128 closed

[2017-05-17 17:01] vinicius-ronconi commented on #85
Hi! I'm facing the same problem here, but I don't know how to fix it.

The only way I was able to do that was replacing [this comparison](https://github.com/charlesthk/python-mailchimp/blob/master/mailchimp3/entities/campaignactions.py#L97) with:
`if data['schedule_time'].tzinfo.utcoffset() != timedelta(0):`

the data['schedule_time'] was created like this:
`my_unaware_dt.replace(tzinfo=pytz.timez

[2017-05-25 21:41] rachaellynn opened #129 "Error when Updating Campaign Content"
I've been running this script for a few months now, off and on, and just started getting this error when updating campaign content with a template id. The campaign and the template do exist. Please advise! Thanks.

[code]

[2017-05-26 13:16] Arany opened #130 "campaign.actions.schedule raises TypeError"
At least under Python 3.5 (have not tested other versions), the ``schedule`` function raises a ``TypeError: utcoffset() takes exactly one argument (0 given)``

According to the documentation, and also in the ``pytz`` implementation of ``tzinfo`` (I have tested with ``timezone.utc`` and ``pytz.utc``, both raise that Error), the utcoffset function wants the datetime as a parameter:
https://docs.pyth

[2017-05-26 13:44] Arany commented on #130
Ah, this might be fixed with PR #124

[2017-05-26 13:52] stephenross commented on #130
I have merged 124, we should be able to update the version number and drop a new release on PyPi later today. I will let @charlesthk know when I do the version bump to fix this.

[2017-05-26 22:02] stephenross commented on #130
@charlesthk I have updated master to 2.0.12 and added a note about the new features, please put it up on PyPi so that we can close this

[2017-05-26 22:23] stephenross opened #132 "Update to include changelog items from 2017-02-23"
Add Batch Webhooks
Add Product Images under E-Commerce > Products
Add information about new query parameters for the GET request for lists
Add new Location report
Probably nothing to change for the new output data for the GET for list members

[2017-05-30 08:12] charlesthk commented on #130
Hi @stephenross, the updated version is on PyPi, sorry for the delay.

[2017-05-30 08:12] #130 closed

[2017-05-31 13:14] AnnaDamm opened #133 "Add utc-check for campaigns.all time fields"
I found out the hard way, that the timezone in the fields before_create_time, since_create_time, before_send_time, since_send_time in the campaigns list view have to be UTC.

You can test this by creating a campaign and then using since_create_time with e.g '+01:00' timezone.
The endpoint ignores the timezone and just checks for the datetime itself in UTC, so it will not find the campaign.

So, th

[2017-06-02 15:26] tufelkinder opened #134 "No support for Member Groups / Roles?"
Just getting started with this and it looks pretty amazing. Any idea if you'll support group/role membership in the future?

[2017-06-13 10:28] hdl-tangier commented on #86
I am using the gibbon gem and have the same error "This campaign cannot be scheduled: ." Anyone could solve it?

[Issue on gibbon](https://github.com/amro/gibbon/issues/243)

[2017-06-16 12:18] freko247 opened #136 "Serializing webhook request body"
I'm currently working on integrating MailChimp with an e-commerce platform. We want to log different notifications from MailChimp using the [Webhooks](https://developer.mailchimp.com/documentation/mailchimp/guides/about-webhooks/) they provide, starting of with [batch notifications](http://developer.mailchimp.com/documentation/mailchimp/guides/how-to-use-batch-operations/).

The Webhooks post data

[2017-06-16 12:29] stephenross commented on #136
I am currently working on implementing the Batch Webhooks endpoint as we have not yet added the features associated with the changelog from February. Please see issue #132 for further information about what is being added. At this time, there is no firm ETA, though I will try and get it cleared up as soon as possible.

[2017-06-16 15:03] stephenross commented on #134
Could you please elaborate on what you are asking about? Are you talking about supporting a specific endpoint that is not currently implemented? Please take a look at issue #120 if that is the case to make sure it is not one of the items that will be covered by that change. If it is something else, please link the relevant documentation bit, and if it is included in one of the changelog entries in

[2017-06-16 15:11] stephenross commented on #133
Our API does not process queryparams arguments at all, as that is expected to be processed be the end user beforehand. We perform processing on any actual post data sent through as those will cause hard errors, but logic errors caused by incorrect queryparams do not technically cause the API to malfunction, it simply returns unexpected results. My plan is to simply update the docstring wherever th

[2017-06-16 15:13] stephenross commented on #120
Closing in favor of #132 that indicates the requirements more specifically

[2017-06-16 15:13] #120 closed

[2017-06-16 15:13] #136 closed

[2017-06-18 00:31] stephenross commented on #129
Sorry for the long delay, are you able to get the campaign itself using the id in the `campaigns.get()` method, and are you able to get the template with `templates.get()`? I see that you are obviously providing a value for the `campaign_id`, could you provide the context around that line on where you are getting the `template_id` that is being used?

[2017-06-19 08:05] freko247 commented on #132
As I mentioned in #136, I am working on storing the notifications, here is my take on serializing data returned from the webhooks...

[code]

[2017-06-20 16:53] bochecha commented on #88
Another useful thing to have is the link to a list member in the dashboard, which also is only available in the response headers:

[code]

[2017-06-28 15:43] ye opened #140 "Fetching a single automation workflow api call is missing query string parameters"
From the official REST API documentation:
http://developer.mailchimp.com/documentation/mailchimp/reference/automations/#read-get_automations_workflow_id

**GET /automations/{workflow_id}**

can take query string parameters like `fields` and `exclude_fields` to filter out extra JSON data in the response, just like the  **GET /automations** endpoint. However, these query params  are not implemented

[2017-06-28 23:47] #140 closed

[2017-07-12 13:36] colombomcri opened #142 "Problem with client.lists.members.create"
Hi all!
I have a question: I need to create a list in mail chimp using your client application.
I'm running
[code]
but it gives me errors such as
requests.exceptions.HTTPError: 400 Client Error: Bad Request for url: https://us16.api.mailchimp.com/3.0/lists/b51741db19/members

Do I have to implement a sort of authentication?
Thanks

[2017-07-12 14:56] stephenross commented on #142
I assume you have authenticated as mentioned in the README (the bit containing `client = MailChimp('YOUR_USERNAME', 'YOUR_SECRET_KEY')`). Have you verified that you can view the list located at the 'b51741db19' key? You can do this with the lists.get() as shown below:
`client.lists.get('b51741db19')`
If this causes an error, you might not have the right list ID. If it does not, do you have merge_f

[2017-07-12 15:11] colombomcri commented on #142
Look, I'm trying this (with CURL it works fine) and I still get the error;
requests.exceptions.HTTPError: 400 Client Error: Bad Request for url: https://us16.api.mailchimp.com/3.0/lists/b51741db19/members

[code]

[2017-07-12 15:51] stephenross commented on #142
When you printed all members, was john.doe@example.com one of them?

[2017-07-12 15:54] colombomcri commented on #142
nope.. the aim is to create the contact ex novo and If because of i get an error, it is not created. right?

[2017-07-13 19:32] ye opened #143 "Fetching a list of automated emails is missing query params"
For some reason, Mailchimp API v3 official documentation doesn't mention the usual query params for this particular API endpoint:  `/automations/{workflow_id}/emails`.

So in the corresponding mailchimp3 library call: `client.automations.emails.all(workflow_id='')`, it accepts neither pagination query params nor field related filters(`fields`, `exclude_fields`).

As a result, the results returned

[2017-07-13 19:36] stephenross commented on #143
Thank you for the effort, we will look for the PR. Please update the
docstrings of any methods that are updated to include queryparams as well
as any calls to all and add the appropriate info as shown in the existing
functions. When you spoke with support, did they mention updating the
documentation to indicate this, or would you be able to ask them to make
that update to the documentation?

On Ju

[2017-07-13 20:03] ye commented on #143
@stephenross thank you for your quick response and will do as specified! I did request them to update the official documentation and they agreed and promised to relay the feedback to their internal team to fix this. But I have yet to see the changes yet (as of today).

As a proof, this is their response in regard to the fields filter query params being global.
![mailchimp-support-global-query-para

[2017-07-13 20:54] ye commented on #143
@stephenross PR#144 is submitted accordingly above.

Since we are on a time crunch here, I've only implemented for this particular endpoint. I would open a new issue to address the global query params and come up a new PR for that when I get more time to walk though a dozen endpoints and testing them, is that okay? Would love to see this particular endpoint fixed so that our code can work correctl

[2017-07-13 21:21] #143 closed

[2017-07-13 21:23] stephenross opened #145 "Verify that proper queryparams are available for all GET endpoints"
See #143 for more info

[2017-07-18 16:30] ye commented on #145
@stephenross I intend to work on this but obviously this is a much bigger change - do you have any guidance on how should I approach this from project perspective to maintain consistency?  I.E. refactoring on the base class etc.? Any recommendation would be great.

Also FYI, our Mailchimp account doesn't use all the features so I will not be able to test all API endpoints but will try my best to t

[2017-07-18 16:47] stephenross commented on #145
The easiest way would be to just go from one end of the app to the other
and update where you find stuff is missing. As for testing, that is great,
it will be good to get some of this stuff tested finally as we haven't done
much in the way of testing prior to this outside the small bits you see in
the documentation.

On Jul 18, 2017 12:30 PM, "Ye Wang" <notifications@github.com> wrote:

--
Please

[2017-07-19 22:12] dannybrown2 commented on #142
I am getting the same error. client.lists.get() with the list_id works fine. But creating a new member within that list gives me the 400 client error.

[2017-08-02 00:17] obrasier commented on #142
Also getting this error - seems to be a little intermittent to be fair.

No difference between good_profile and bad_profile except sometimes the location dict is deleted, which shouldn't matter right?

Will post if I figure it out.
[code]
Note the spreadsheet I'm getting it from is just an export of an old mailchimp list that I'm trying to process with the command line. Though sometimes it seems t

[2017-08-06 21:01] saschwarz commented on #132
I'm interested in this project and glanced at this and I'd propose using a "sentinel" value in place of the mutable `notification={}` to avoid having `notification`'s key/values grow across function calls (http://python-guide-pt-br.readthedocs.io/en/latest/writing/gotchas/#mutable-default-arguments)
 e.g.
[code]

As an outsider to this project, an example `raw_notification` in the doc string would

[2017-08-08 19:45] IuryAlves commented on #142
Also `merge_fields` is not documented [here](https://github.com/charlesthk/python-mailchimp/blob/master/mailchimp3/entities/listmembers.py#L35)

[2017-08-14 13:50] santonocito opened #146 "Can't add custom merge_fields when creating or updating a member"
Hi,

I created some new merge_fields on Mailchimp but I have some problems with this library.

One of my merge_fields is called PRO (or MERGE4) but if I try to add it to merge_fields dictionary during the creation of a new member:

[code]

I get this error:

[code]

This merge field exists, in fact if I try to run `merge_fields = client.lists.merge_fields.all(list_id='<my_list_id>', get_all=True)`

[2017-08-15 06:39] daamien commented on #146
same here

[2017-08-15 13:05] stephenross commented on #146
Damien, when you say that the same happens to you, do you mean specifically
a tag named PRO, or just a random tag not working?

On Tue, Aug 15, 2017 at 2:39 AM, damien clochard <notifications@github.com>
wrote:

--
Please click to read Notices:
http://www.mediweightlossclinics.com/sig/ Confidential Communication
http://www.mediweightlossclinics.com/sig/ Educational Purposes Disclaimer
http://www.m

[2017-08-15 13:07] santonocito commented on #146
@stephenross sorry, I didn't specified one thing. I have more merge_fields and I tried with all of them, using different tag names: 'MERGE4', 'MERGE5', 'PRO', 'ANSWERS', 'LAST_LOGIN',...

[2017-08-15 21:19] daamien commented on #146
@stephenross : Hi ! thanks for your reply. I removed my previous comment from this issue because it turned to be irrelevant. This morning I misinterpreted an error message, I got confused, I found this issue and falsely assumed it was the same error but it wasn't. It was just me being stupid.

Sorry about that and thanks for this piece of code !

[2017-08-16 09:24] cwirz commented on #142
Same problem here. Have you figured it out whats wrong?

[2017-08-16 12:49] stephenross commented on #142
I have not had a chance to look over the issue in depth, which is terrible
for it being open so long. I will try and take a look at the issues that
are currently in this weekend when I have some free time.

On Wed, Aug 16, 2017 at 5:24 AM, Colin Wirz <notifications@github.com>
wrote:

--
Please click to read Notices:
http://www.mediweightlossclinics.com/sig/ Confidential Communication
http://www.m

[2017-08-18 08:15] charlesthk commented on #126
@coredumperror, @stephenross  maybe we can set `member_email.lower().encode('utf8')` and add `from __future__ import unicode_literals` add the top of the file to fix the third point ?

[2017-08-21 17:40] coredumperror commented on #126
Unfortunately, `from __future__ import unicode_literals` won't do anything to help point 3. All that does is make it so that string literals defined in the current file, like `foo = "bar"` will be `unicode` objects in Python 2, instead of `str` objects. And it doesn't do anything in PY3.

[2017-08-29 13:31] xmedeko opened #148 "MailChimpClient resuse connection pool and keep-alive"
`MailChimpClient` open a new connection for every request. It's faster to reuse the connection pool and keep-alive. So, the `MailChimpClient` should open and keep the requests session.
Also, if the `MailChimpClient` would implement the session, then it should have some `close()` and/or `__exit__()` methods to close the session manually.

[2017-09-06 10:38] szewczykmira opened #149 "E-commerce - get for product variant is not working"
When trying to get variant I get error:
 `405 Client Error: Method Not Allowed for url: https://us16.api.mailchimp.com/3.0/ecommerce/stores/store/products/1/variants/1`

I've checked and this is caused by sending `POST` instead of `GET`:
[code]

Is that expected behaviour?

[2017-09-06 12:31] stephenross commented on #149
Hello @szewczykmira that is an error. Looking at that endpoint, we also have an error with the `all()` endpoint for the same reason. I have patched this on the master branch, and it should be on PyPi in a bit.

@charlesthk, Please put 2.0.17 up on PyPi, thanks

[2017-09-06 12:53] charlesthk commented on #149
Hi @stephenross, thanks, the release is on PyPi !

[2017-09-06 12:56] szewczykmira commented on #149
@stephenross @charlesthk Thanks for quick reaction!

[2017-09-08 20:02] chadsaun commented on #142
I'm having the same problem with `client.stores.create()`.  I get `HTTPError: 400 Client Error: Bad Request for url: https://us1.api.mailchimp.com/3.0/ecommerce/stores`

[2017-09-08 20:07] chadsaun opened #151 "Bad Request when Creating a Store"
When I run `client.stores.create()` I am getting `HTTPError: 400 Client Error: Bad Request for url: https://us1.api.mailchimp.com/3.0/ecommerce/stores`

[2017-09-08 21:06] chadsaun commented on #128
What were you doing wrong?  Maybe I'm doing the same thing

[2017-09-08 21:21] chadsaun commented on #151
The issue here is that the site ID I was passing was an integer and it wanted a string.  As I stepped through the code and inspected the response it did in fact say `Bad Request`, but there was more detailed info in there that let me know exactly what was wrong.

It would be nice if this library could pass us back this extra error info.

[2017-09-08 21:21] #151 closed

[2017-09-12 12:02] #149 closed

[2017-09-20 08:38] xmedeko commented on #106
IMHO if the `python-mailchimp` library is thread safe itself, then the threading should be done by the application which uses that. If not, then the app may use `multiprocessing`. It's  enough to write a proper example.
You never know, what processing the application is supposed to do. E.g. if there is 1 mil. of contacts - does the app need all contacts in memory (possible out of memory), or does

[2017-09-20 08:47] xmedeko commented on #148
I have tried to patch `MailChimp` class to use just one session and it has lead to about 1/3 speedup on my development machine. I can make a PR to use a session in the `MailChimpClient`. However, I think the `MailChimp` should not be child of `MailChimpClient`. It should use `MailChimpClient` as a fields only (inheritance vs. composition). Then it would be possible to switch different implementati

[2017-10-05 16:49] mplovepop commented on #146
@santonocito I'm not sure what JSON validation Mailchimp does, but it wouldn't surprise me if all merge fields have to be a string. It might work if you coerce it to a str or int, e.g. ``str(user.has_active_subscription())`` or ``int(user.has_active_subscription())``.

[2017-10-15 13:40] gsapu commented on #142
any way to return the 'detail' of the 400 error in the function?

[2017-10-19 07:16] obrasier commented on #142
Here is how you can get better error messages.

[code]

[2017-10-25 08:20] ilardm opened #153 "Undocumented DC part in API key"
MailChimp currently provides only API key itself without DC part.
I have not found anywhere in documentation that `mc_secret` parameter of `MailChimpClient` must ends with `-dcX` part thus have to inspect source code to figure out.

[2017-10-25 19:15] stephenross commented on #153
Hello, I am not quite sure what you are asking, could you please provide some sample code or point to part of the source that you are confused about?

[2017-11-03 11:48] taut-and-yare commented on #142
Thanks @rebkwok
I had the same and it seems mailchimp is blocking the string "john.doe@example.com" as a valid email...

[2018-01-23 19:37] pablodlm opened #155 "Error when creating a new member in a List"
I am trying to add a new member to an existing list, but im getting an error. Ive tried getting the
data of the list and there is no problem, the problem comes when I try to create a member.
Any ideas?

# add John Doe with email john.doe@example.com to list matching id 'myListID'
client.lists.members.create('myListID', {
    'email_address': 'john.doe@example.com',
    'status': 'subscribed',

[2018-01-23 20:10] #155 closed

[2018-01-23 20:11] pablodlm commented on #155
The problem was the email. It was invalid.

[2018-01-23 22:13] pablodlm opened #156 "How can I create more than 1 member in a list in a for loop?"
Im trying to create more than 1 member to a list but it tells me i cant.

"Max retries exceeded with url"

Is there any solution to this?

[2018-02-02 23:57] hjanjua opened #157 "requests.exceptions.HTTPError: 404 Client Error: Not Found for url:"
Getting following error trying to get all members of the list.

Traceback (most recent call last):
  File "test.py", line 7, in <module>
    client.lists.members.all('75765', get_all=True, fields="members.email_address,members.id")
  File "/usr/local/lib/python2.7/dist-packages/mailchimp3/entities/listmembers.py", line 94, in all
    return self._iterate(url=self._build_path(list_id, 'members'), *

[2018-02-14 22:00] charlesthk commented on #157
Hi @hjanjua, thanks for your feedback.

I have tried on an account of mine to reproduce the problem but everything was fine.

Here are my thoughts :
+ Do you still have this issue ?
+ It might be to an unavailability of mailchimp service at that specific time ?

[2018-02-14 22:05] charlesthk commented on #156
Hi @pablodlm, you definitely can add multiple members to your list at one.

For that you need to use Batch Operation, [documented on Mailchimp](https://developer.mailchimp.com/documentation/mailchimp/guides/how-to-use-batch-operations/)

Batch operations are supported in this library, as shown in [batches.py](https://github.com/charlesthk/python-mailchimp/blob/master/mailchimp3/entities/batches.py

[2018-02-14 22:05] #156 closed

[2018-02-14 22:12] charlesthk commented on #142
Mailchimp does not accept obvious / generic emails such as me@example.com or john.doe@example.com

Closing this issue

[2018-02-14 22:12] #142 closed

[2018-02-14 22:13] charlesthk commented on #134
No response, closing this issue.

[2018-02-14 22:13] #134 closed

[2018-02-14 22:16] charlesthk commented on #119
Closing in favor of #138

[2018-02-14 22:16] #119 closed

[2018-02-14 22:21] charlesthk commented on #107
Closing in favor or PR #138

[2018-02-14 22:21] #107 closed

[2018-02-16 02:54] stephenross commented on #132
The items in the basic changelog are present in #138. For specific implementations of a serializer, please create a PR on the master branch after the 2.1.0 release, and I would suggest adding the serializer to the helper functions file on the off chance that they use a similar format elsewhere in the API in the future.

[2018-02-16 02:54] #132 closed

[2018-02-16 02:56] stephenross opened #158 "Changelogs after 3/03/2017"
Update the app to include the changes listed in http://developer.mailchimp.com/documentation/mailchimp/guides/changelog/ after the 3/03/2017 batch. It appears that there are 3 sets with varying numbers of changes.

[2018-02-27 21:56] charlex opened #159 "OAuth question"
Forgive me if this isn't the proper forum for questions, but with mailchimp3's recent support for OAuth, I want to be sure I am using correctly.

To initialize a connection with an OAuth access token, the `mc_api` can be anything, correct?

As in, `foobar` could be anything and this is expected to work:

[code]

[2018-02-28 14:47] stephenross commented on #159
As you can see [here](https://github.com/charlesthk/python-mailchimp/blob/master/mailchimp3/mailchimpclient.py#L70-L73), the mc_api is ignored if an access_token is provided, so you could instead just do the following to authenticate:

    client = MailChimp(access_token='my_valid_access_token')

[2018-02-28 14:47] #159 closed

[2018-02-28 22:21] kirsle opened #160 "Please follow Semantic Versioning in the future"
https://semver.org/

Your recent update to version `2.1.0` breaks backwards compatibility by swapping the order of parameters to the constructor and raising an exception in existing code where no such exception was raised on `2.0.x` versions of the library.

Per the semantic versioning guidelines, the "1" in `2.1.0` should imply that _new features_ were added which are _backwards compatible_ to pr

[2018-03-06 18:03] mikezawitkowski opened #161 "Documentation issue regarding offset and `get_all=True` behavior"
From the docs:

However when I run this with log level to DEBUG I noticed this call:

`GET Request: https://us14.api.mailchimp.com/3.0/lists/<listid>/members?count=5000&offset=0`

It also takes a very long time to complete this request. It seems that the documentation is not correct or perhaps I've configured my settings to override the default behavior of fetching 10 records at a time...

[2018-03-06 18:14] stephenross commented on #161
I will need to update the documentation for that section. The bit about count defaulting to 10 and offset defaulting to 0 is talking about the values if nothing is provided. The documentation is missing mention that get_all forces those values to change. We fetch 5000 records at a time to limit the number of calls to the service and hopefully prevent calls from hitting any limits that MailChimp pl

[2018-03-06 18:20] stephenross commented on #161
The README files have been updated to explain the functionality of `get_all` in more detail.

[2018-03-06 18:20] #161 closed

[2018-03-08 12:55] krzysztofwolski commented on #158
Hello, do you have ETA on that? Can't start upgrading packages without changelog.

[2018-03-08 15:13] stephenross commented on #158
I do not, though I can try and look at it before this weekend if I have time. If you would like to try working it and submit a PR that covers the changes (or multiple if you want to break up the changelog into each named section), we can look at that.

[2018-03-13 20:02] alxvallejo commented on #156
@charlesthk That batches.py link is a 404

[2018-03-20 14:39] stephenross commented on #156
The endpoint name was changed and is now located at [batchoperations.py](https://github.com/charlesthk/python-mailchimp/blob/master/mailchimp3/entities/batchoperations.py)

[2018-03-21 16:55] DBa19 opened #162 "client.reports.email_activity.all(get_all = True) returning JSONDecodeError"
Hi,

I am trying to pull the email activity for a campaign and when trying 'True' for get_all I receive the following error:

'    raise JSONDecodeError("Expecting value", s, err.value) from None
json.decoder.JSONDecodeError: Expecting value: line 1 column 1 (char 0)'

If I try 'False' it works fine, but obviously pulls only 10 rows of data. Do you know what is causing this issue? I tried to overr

[2018-03-21 17:19] stephenross commented on #162
You should be able to do 2 calls, one to get the number of records and another asking for exactly that many records. Could you please try using a count of 5000 with `get_all` set to False and let us know what happens? Also, can you provide information on how many records there are in that report so that we know if 1000 and 5000 are more or less than that?

[2018-03-22 09:38] DBa19 commented on #162
My list should have roughly 4300 results, I have tried the following:

1000, 2000 - work
2500, 3000, 4000, 5000 - don't work

Is it possible that it is because of the time it takes to pull this? should the iteration be for less than 5000? What I don't understand is for example if the data I am pulling has 4300 counts and I am attempting to pull 5000, what does the API do with the 700 difference? D

[2018-03-23 14:37] OleLaursen opened #163 "client.lists.merge_fields.delete doesn't convert merge_id to str"
merge_fields.delete tries to build a path without ensuring the the merge_id it gets is a string. But the merge_ids you get from Mailchimp are ints. Thus the following example bombs

  r = client.lists.merge_fields.all(list_id=list_id, get_all=True)
  f = r["merge_fields"][0]
  client.lists.merge_fields.delete(list_id=list_id, merge_id=f["merge_id"])

on this line

        return self._mc_client._d

[2018-03-23 19:43] stephenross commented on #162
For anything where the count is more than the records, it just gives whatever it can grab, so if there are 5 records and I ask for 10, it gives only 5 back. We use this fact to perform our paging, checking that the number of records returned matches the number we asked for, and if so, shifting the offset until we get a less than full set of data. I believe there is just not data returned if you us

[2018-03-23 19:45] stephenross commented on #160
Sorry for the delay in responding and the issues with this update. Originally, I don't think the change was going to include that, but when it did, I forgot to increment the correct number. @charlesthk would you be ok with killing the 2.1.0 version on PyPi and uploading a 3.0.0 instead with appropriate changes?

[2018-03-26 15:01] stephenross opened #164 "Update release to resolve #159, #160, and #162"
@charlesthk Hello Charles

I have made a couple updates that don't really change much, but one of the biggest changes is the version bump to 3.0.0 and update of some of the documentation to reflect that per #160. I have also resolved an issue pointed out in the most recent response in #159 and updated our iterate helper for #162. If possible, please take down the 2.1.0 release as mentioned in the

[2018-03-26 22:13] charlesthk commented on #160
Hi @stephenross, thanks, The v3.0.0 is live on PyPi.
I haven't deleted the v2.1.0 from PyPi to avoid current projects using it to break because of a missing version (which might resides in requirements.txt).

[2018-03-26 22:13] #160 closed

[2018-03-26 22:13] charlesthk commented on #164
Thanks @stephenross for this work, the v3.0.0 is now on PyPi.

[2018-03-26 22:13] #164 closed

[2018-03-26 22:23] stephenross commented on #159
The init for the MailChimp client has been updated to provide a default value of None to `mc_api` as suggested.

[2018-04-01 23:27] charlesthk commented on #163
Hi @OleLaursen , thanks for reporting this issue, I have fixed it in v3.0.1.

[2018-04-01 23:27] #163 closed

[2018-04-01 23:34] lamar-frankie commented on #157
@charlesthk I would like to contribute to this project. Are there any issues you would like me to work on?

[2018-04-01 23:50] charlesthk commented on #157
Hi @lamar-frankie, thanks for offering your help. You are very welcome to contribute.

The #158 issue is an important one, your could work on it ? Maybe @stephenross is working on it too ?

Thanks.

[2018-04-02 02:16] lamar-frankie commented on #157
@charlesthk Also, It looks like you're doing manual deployments. When I finish with this bug maybe we can discuss some continuous integration options. I'd be happy to help with that also.

[2018-04-02 02:19] lamar-frankie commented on #158
I'd like to claim this issue if you are not actively working on it @stephenross.

[2018-04-02 14:21] stephenross commented on #158
Go ahead, I haven't had a chance to get started sadly, so getting it done by someone would be great.

[2018-04-02 14:25] lamar-frankie commented on #158
Cool.

[2018-04-04 12:19] AuHau opened #165 "Better error handling"
Hey there,

first of all thanks for the library!

I would welcome to have better error handling as currently the Error reply is put as JSON into the Exception and not really parsed in anyway.
This makes hard to handle errors which might not really be errors in the application contexts (for example duplicated emails in a list).

I would suggest to extend the current `MailChimpError` class with stat

[2018-04-04 13:48] stephenross commented on #165
Hi

We would be happy to see a PR for what you describe. The current wrapper leaves all error checking in the hands of the users, but if there are any standard errors that you want to provide specific notifications and messages for, we will be glad to take a look at the PR. If you are processing a specific error, please make sure you process that error on every endpoint that raises it.

[2018-04-27 07:34] OleLaursen opened #167 "The library should not cause a JSONDecodeError"
Just got the following backtrace:

       r = client.lists.members.all(list_id=list_id, get_all=True, fields="members.id,members.status,members.last_changed,members.interests,members.merge_fields")
      File ".../mailchimp3/entities/listmembers.py", line 94, in all
        return self._iterate(url=self._build_path(list_id, 'members'), **queryparams)
      File ".../mailchimp3/baseapi.py", line 60

[2018-04-27 14:57] stephenross commented on #167
Write up a PR and we will take a look. When you do that, make sure you update the version numbers in the setup.py and both README files as well.

[2018-05-16 06:38] aqua-regia opened #168 "Batch operation not working"
If I see the response of self.client.batch_operations.create() method and check the _links[1].href I get this URL [https://us18.api.mailchimp.com/3.0/batches/5cfa0d22b8] it says API key missing.
This is my operations object

And this is my reponse object

Whereas all my other operations like get all lists are working fine.

I even used MailChimp API 3.0, but that also showed me the same error.

If

[2018-05-18 19:49] jersobh opened #169 "urllib3 problem"
Hi there,

I'm getting this error while I try to get the lists:

urllib3.exceptions.MaxRetryError: HTTPSConnectionPool(host='<my-secretkey>.api.mailchimp.com', port=443): Max retries exceeded with url: /3.0/lists?offset=0&count=1000&fields=lists.name%2Clists.id%2Ctotal_items (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x7f538a44e940>: Failed to establish a

[2018-05-23 03:46] campenr opened #171 "Bug with sending plain text test emails"
According to the [MailChimp API documentation](https://developer.mailchimp.com/documentation/mailchimp/reference/campaigns/#action-post_campaigns_campaign_id_actions_test) the valid data attribute for `send_type` to allow sending of plain text test emails is `plaintext`, not `plain_text` as is currently implemented in this package.

PR #170 address this issue.

[2018-05-23 15:07] charlesthk opened #172 "Write documentation according to PR #166"
Following PR #166 we need to write proper documentation to reflect added endpoints.

[2018-05-23 15:08] #158 closed

[2018-05-23 15:09] charlesthk commented on #171
Hi @campenr , thanks for this and your PR. It has been merged and publish on PyPi.

[2018-05-23 15:09] #171 closed

[2018-06-11 15:30] stephenross commented on #169
Looking at the error, you did not provide proper authentication as the host is incomplete. All MailChimp API calls hit one of the datacenters in a format of `DATACENTER.api.mailchimp.com`, and your host is just `.api.mailchimp.com`. What values did you provide when you initialized the MailChimpClient?

[2018-06-12 12:18] jersobh commented on #169
yep, it was a typo error, sorry about that

[2018-06-12 12:40] #169 closed

[2018-06-13 18:38] #167 closed

[2018-06-26 08:06] clorieanne commented on #165
Hello everyone! Is there a way I can convert "Mailchimperror" to json format? so I can use it on my web microservice.

[2018-06-26 14:09] stephenross commented on #165
MailChimpError is a custom python exception that we pass json data into, if you wrap your code in a try/except block catching the MailChimpError, you can pull that data out depending on your python version and serve the message information directly.

[2018-07-17 16:38] sst390 opened #173 "Unable to find link_id in a Click Details Report Members Query"
Hi, I want the report of all members whose emails were bounced for a Campaign. For this I tried the below query :
client.reports.click_details.members.all(campaign_id=' ', link_id=' ', get_all=False)
Please tell me where can I find the lilnk_id for a campaign and please explain what the field is actually referring to.
Thanks in advance.

[2018-07-18 14:42] DBa19 opened #174 "client.lists.segments.update_members doesn't work (doing nothing)"
Hi,

I've been trying to use client.lists.segments.update_members and don't seem to get it to work. I've tried two scenarios:
1.passing a blank array  which should remove all the emails in the segment based on the mailchimp documentation, doesn't do anything:
client.lists.segments.update_members(list_id=test, segment_id='12345', data={'static_segment':[]})
2.similar but passing an email in order t

[2018-07-19 09:03] rchavik commented on #165
Is this the correct way to access the exception data?

[code]

[2018-07-19 14:03] DBa19 commented on #174
Curiously,
client.lists.segments.members.create or client.lists.segments.members.delete
Work fine with similar parameters.

[2018-07-19 14:22] DBa19 commented on #174
Alright, after digging through the .py functions I realized that I was using it wrong. For any future reference, the correct way is the following:
client.lists.segments.update_members(list_id=test, segment_id='12345', data={'members_to_remove':['email@email.com']})
Where as 'members_to_remove' can be replaced with 'members_to_add'.

[2018-07-19 14:22] #174 closed

[2018-07-26 14:04] charlesthk commented on #173
Hi @sst390,

you have this [thread](https://stackoverflow.com/questions/33959652/finding-cleaned-bounced-email-addresses-for-a-mailchimp-campaign-or-list) on SO which explains how to get unsubscribed / bounced emails.

Basically, you can do

`client.lists.members.all(list_id, count=100, status='unsubscribed')`
`client.lists.members.all(list_id, count=100, status='cleaned')`

Hope this helps.

[2018-07-26 14:04] #173 closed

[2018-07-26 14:37] sst390 commented on #173
Hi, I wanted to know if there is a way to check all the bounced/cleaned emails using a campaign_id.
For eg : we are able to get the list all of all unsubscribed members for a "Campaign" using the below query : client.reports.unsubscribes.all(campaign_id='', get_all=False)

But there is no way to get just the bounced report of all members from a particular "Campaign" and not the list.

[2018-09-15 00:50] hrdymchl opened #176 "data center mismatch"
Hi, I just upgraded to 3.0.5 and noticed an issue with a data center mismatch in the `base_url`. My api key ends in `us16`, and I know this library splits on the `-` of the api key.

However, when subscribing a member to a list, I am getting a 404 error in my logs and the `base_url` is `us18.api.mailchimp.com`.

I decided to fork the repo and hardcode the `us16` value into the base_url, however, o

[2018-09-17 20:51] stephenross commented on #176
Please include a copy of your initialization with only the minimum obfuscation necessary to preserve your account security so that we can take a look for further troubleshooting.

[2018-09-18 13:43] vankk opened #177 "[Error] Get members list"
Hello, I'm using `client.lists.members.get` inside a Loop that run over a large amount of an array.

After a few seconds I receive the following error:
[code]
The line 29 that is occuring the error is this one: _hasEmail = client.lists.members.get(list_id=list_id, subscriber_hash=email)_

The variable _list_id_ returns the list id on MailChimp, and the variable _email_ returns the user e-mail.

Wh

[2018-09-18 15:12] stephenross commented on #177
The error you are getting is normal. The error indicates that it is a 404 status, and the glossary provided in the error (http://developer.mailchimp.com/documentation/mailchimp/guides/error-glossary/) indicates that whatever object you are requesting does not exist. You are either passing in an email or hash (we generate the hash if you provide the email) and the related member doesn't exist on th

[2018-09-18 15:12] #177 closed

[2018-09-18 16:55] vankk commented on #177
@stephenross Thank your for your anwser, I didn't expected that. I was thinking that this function returns a boolean. I updated the code with the previous snippet that you send but the error still persist, the **MailChimpError is not defined**.

[2018-09-18 18:51] stephenross commented on #177
Like I mentioned, you will need to import the exception. It can be imported from `mailchimp3.mailchimpclient.MailChimpError`

[2018-09-18 19:59] hrdymchl commented on #176
Here's the initialization:

[code]

Here's how we subscribe someone to a list

[code]

[2018-10-08 20:20] volksman opened #178 "Adding Tags to lists.members"
Was wondering if I'm missing something or if support will be added to allow for tags on list members as per:

https://developer.mailchimp.com/documentation/mailchimp/reference/lists/members/tags/#create-post_lists_list_id_members_subscriber_hash_tags

[2018-10-09 13:56] volksman commented on #178
Please see pr#179

[2018-10-09 21:36] charlesthk commented on #178
Hi @volksman, thanks, your PR is merged and on PyPi !

[2018-10-09 21:36] #178 closed

[2018-10-11 05:02] japrogramer opened #180 "context per user other than the initial list data fields."
I would like to have a list of users with user data,
this is simple enough.
But I would also like to have a way to pass extra data to the template used to contact the user
This data is not directly related to the user and will differ every time so that is why i don't add it in with the initial list.

how can i pass a unique data context object per user in my list from my python code?

[2018-10-14 23:01] japrogramer opened #181 "Select a subset of a list to run with a specific campaign."
First I would like to create a campaign that only runs on a subset of a list.
So I would like to know how do i assign a subset from a list to a campaign and than run the campaign.

I will periodically need to update the subset every time the users are to be contacted by said campaign. by updating merge fields so that the email is more relevant.

Would my campaign run periodically on its own, or wo

[2018-10-14 23:39] japrogramer commented on #181
Main question here, how do i remove all members from a segment and how do i email users in a segment with a specific email template.

[2018-10-23 01:00] antonkhelou opened #182 "Occasional "Member Exists" errors when using 'create_or_update'"
I am getting the following error, and other errors in the same type of category (relating to a record of a certain kind already existing).

the error:
[code]
and the code:
[code]

Any ideas why I would be getting these occasionally?

[2018-10-26 17:56] vankk opened #183 "Prevent fake emails"
Hello, I'm facing a problem that I'm not sure how I can handle. I'm inserting new users to a list, but sometimes could return an email that is fake, and the API script stop running. I'm trying to prevent that with the code below, but it keep returning that error.
[code]

The error is detail is:
[code]

I tried to use email_validator, but didn't worked.
[code]

[2018-10-26 19:56] stephenross commented on #183
Could you please be more specific on what you mean by a fake email? Is this a message you are getting back from the API when you try and submit a new member? Additionally, for using the get endpoint for list.members, you can provide either a pre-computed hash, or the raw email address, in the `subscriber_hash` attribute as we compute the hash if it does not match a valid hash structure.

[2018-10-26 21:31] vankk commented on #183
I'm inserting new members to a list and some emails can be fake, on this case, the application crashed instead of ignore this new email `showpeta@yopmail.com`, that doesn't exist.

Could you be more specify about pre-computed has? I'm setting up a hash for the email `hashlib.md5(email.encode('utf-8').lower()).hexdigest()`.

[2018-10-29 13:49] stephenross commented on #183
The pre-computed hash that you are using looks correct, though you can also simply pass the email address directly to the subscriber_hash attribute when calling the API.

Mailchimp does not allow obviously fake email addresses and you will not be able to prevent that error, so you will need to submit real addresses, though you can catch the error and skip it as it will be an HTTPError with a 400 s

[2018-10-29 13:49] #183 closed

[2018-11-22 03:08] antonkhelou commented on #182
This was a mistake on my end.

[2018-12-04 06:31] gregkster opened #185 "order_total seems to be limited to $999,999.99"
I called client.stores.orders.create with "order_total" greater than $1M does not give an error, but when I read back the order it comes back with order_total =  $999,999.99

[2019-01-09 11:00] risicle opened #187 "Please maintain a basic Changelog"
It's one thing following semantic versioning (#160) but if you don't also maintain a `Changelog` file you're leaving developers to go and hunt for what's actually changed every time there's a major bump, and this process risks missing something (we got burnt by the exception handling changes which weren't mentioned anywhere outside the github issues). It doesn't *have* to include every change made

[2019-01-23 03:28] turnerneil opened #188 "Add since parameter to Email Activity Reports?"
My Email Activity Reports can be large. I would like to be able to use the since parameter to limit the amount of data I'm requesting. It's easy to do this using the mailchimp API, but I can't seem to figure out how to do in with this library.

Thanks!

[2019-01-25 16:15] hpfn opened #189 "Manager tags"
Hi,

I saw other tickets but I am unable to set a tag for
a member.

I set  tags name and status and ask for an update. I
tried to use 'members_to_add1. Nothing happened.
No errors.

How do I update a tag for a member?

Regards,
Herbert

[2019-01-25 21:06] hpfn commented on #189
I understood my mistake.

'update_members()' not just 'update()'

[2019-01-25 21:06] #189 closed

[2019-02-24 13:36] anestesya commented on #168
Hi @aqua-regia i have lost 6 hours to found my error in the body of the batch operations in insert subscribes into lists, i used **json.dumps(body)**

`def _get_data(e, to=None):
              _data = {
                "method": "POST",  # The http verb for the operation
                "path": "/lists/{}/members".format(res['id']),  # The relative path of the operation
                # "operatio

[2019-04-15 14:22] migueljusto opened #192 "Key Error"
https://github.com/VingtCinq/python-mailchimp/blob/1b472f1b64fdde974732ac4b7ed48908bb707260/mailchimp3/entities/storeproductimages.py#L47

must be ` if  not "url" in data:`

[2019-05-02 22:10] bpdev92 opened #193 "Way to get tags from list"
I cant seem to get the tags that exist for a particular list. Am I missing something or is this functionality missing ?

[2019-05-02 23:06] #193 closed

[2019-05-13 15:59] MadPy81 opened #194 "API Error Handling Solutions For 429 Level Errors"
Hello,

**Background:**
I'm pulling data from Mailchimp API and writing data into Google Sheets via sheets API. Essentially, my script makes an initial req for all current campaign data to extract "campaign id" which I then use in a subsequent function to run the 2nd request for 'click_details' reports. I then write the data into the Google Sheet. I'm new to writing these programs/scripts.

I'm be

[2019-05-15 13:43] stephenross commented on #194
Hi @MadPy81, This is the issues for the MailChimp API wrapper, but it sounds like you are having an issue with the wrapper for Google Sheets. You might want to try looking over the Sheets documentation for information. You might also want to try building the data structure for your sheet locally and pushing larger chunks of data if that is an option (push whole sets of rows instead of 1 at a time

[2019-05-15 13:43] #194 closed

[2019-05-19 05:13] enm10k opened #196 "Remove email_address from log"
As far as I checked, a log of python-mailchimp can contain an email address as follows:

[code]

I want to remove it to meet my company's security standard.

My approach is implementing a logging filter to check the keys of PAYLOAD and overwrite specific values.
ex: https://github.com/enm10k/python-logging-keyword-filter#how-to-use

However, it didn't work.
I was not able to access the keys of PAY

[2019-05-26 15:00] #196 closed

[2019-05-26 15:00] enm10k commented on #196
I decided to try another approach.

[2019-05-29 22:19] diegocastroplazas opened #197 "Error to try creating a list"
Hi Guys!

I've been using your python module for sending campaigns since 1 year ago and it had been working very well. However since a few days ago, we're obtaining the error as following.

`mailchimp3.mailchimpclient.MailChimpError: {'type': 'http://developer.mailchimp.com/documentation/mailchimp/guides/error-glossary/', 'title': 'User action not permitted', 'status': 403, 'detail': 'User does no

[2019-06-13 15:00] dzbee opened #198 "Feature Request: Asynchronous calls"
I am using this package to create, update, and tag users according to interactions they take with my web app. Since there is (as far as I can tell) no support for making asynchronous calls to the API outside of MailChimp's own batch jobs, users must wait for the API call to complete on the backend before receiving a response to their request. While I could use batch jobs for this purpose, this req

[2019-06-20 19:30] Yuanqi-Hong opened #200 "client.lists.members.activity.all() has a rate limit of 50"
`client.lists.members.activity.all()` returns up to 50 records of activities for each member requested. How do I get everything?

[2019-06-20 19:33] Yuanqi-Hong commented on #200
Oh the limit is imposed by Mailchimp.

[2019-06-20 19:33] #200 closed

[2019-06-29 13:14] bdabrowski opened #201 "No longer rising 404 Resource Not Found on deleted emails"
I was wondering if someone could release their email in a system so someone else may use it later with mailchimp integration.

The test below was passing successfully in April.

[code]

Now it's not passing anymore. Is it possible there were Mailchimp API changes that reflects it?

Now the respnse status is just empty string instead of error.
Tested with: 3.0.7 and 3.0.6

[2019-07-12 07:13] stripathi669 commented on #112
@goraniliev  Did you find some documentation for this? If yes, please do share

[2019-07-26 06:39] seanohagan opened #202 "Remove required html from update template"
Attempting to update a template's name requires the html of the template to be included as well.

Mailchimp's page here (https://developer.mailchimp.com/documentation/mailchimp/reference/templates/#%20) implies that the param is required because of the asterisk. This seems to be a copy/paste oversight from the create template documentation.

If the html required code in templates.py is commented o

[2019-07-29 14:32] andrewdj opened #203 "can I add a tag when using lists.members.create_or_update?"
I am looking at tags and groups to mark signup state, and wondering if I can add either as part of the create_or_update() call?

e.g.:

self.mailchimp.lists.members.create_or_update(
                self.mailing_list_id,
                m.hexdigest(),
                {
                    "status": "subscribed",
                    "status_if_new": "pending",
                    "email_address": e

[2019-07-31 21:45] ZERO20 commented on #178
Thanks for the PR, I liked the tags, could you update the documentation? regards

[2019-08-04 14:39] stephenross commented on #203
According to https://developer.mailchimp.com/documentation/mailchimp/reference/lists/members/#edit-put_lists_list_id_members_subscriber_hash, no. If you want to add tags, you will need to use `create_or_update()`, and then use the `lists.members.tags.update()` function on that user. When you use the `lists.members.create_or_update()` call, the wrapper will stash the subscriber hash for that call a

[2019-08-04 14:39] #203 closed

[2019-08-09 08:53] charlesthk commented on #178
Hi @ZERO20 I updated the documentation with tags. Thanks.

[2019-08-15 04:43] janzenz commented on #201
Since you are reusing `response` which part of the request responds with an empty string?

[2019-08-16 06:25] jrshorton opened #204 "How to query?"
Please can you give an example of how to run a query:

`campaigns = client.campaigns.all({'since_send_time' : '2019-05-14T15:30:00+00:00'})`

Was my best guess but it returns all campaigns..

[2019-08-16 16:33] rdhq opened #205 "Updating member tags"
Hi - can you please provide an example of updating a member's tags? I can't seem to be able to do it through either client.lists.members.update or client.lists.members.tags.update.

Thank you very much

[2019-08-16 17:04] stephenross commented on #205
See the info in #203 as well as the linked documentation there

[2019-08-16 17:04] #205 closed

[2019-08-30 10:33] andsimakov opened #206 "API key issue"

[2019-08-30 11:53] #206 closed

[2019-10-01 10:23] nikey5 opened #209 "Missing "get_all" implementation within listactivity entity"
Currently it is not possible to retrieve all the existing data of the listactivity by iterating through all existing data points. However, other entities have implemented the "get_all" functionality. Can this also be implemented within the listactivity?
I tested the same functionality within the listactivity locally and it worked fine.
Thank you for your help!

[2019-10-01 13:23] stephenross commented on #209
The allowed queryparams for the listactivity endpoint do not include the count and offset fields required to implement a get_all call, which is why it was not included. See https://mailchimp.com/developer/reference/lists/list-activity/ for the allowed query params. If you think there is a missing parameter and that count and offset are allowed, please contact the MailChimp API support and ask them

[2019-10-03 17:29] joc4ntonio commented on #204
Hello. I hope you found out how to do it.
For me it worked this: r = e.campaigns.all(get_all=False, since_create_time="2019-10-02T00:00:00+00:00").
Remember it expects **queryparams, which is the same as *kwargs; which means Python expects a variable quantity of arguments

[2019-10-03 22:22] jacob-hutchings opened #210 "Can not create an automation"
I am probably just missing something but is there not a way to create an automation?
Shouldn't it be `client.automations.create`?

https://mailchimp.com/developer/reference/automation/

[2019-10-12 08:41] pirsquare commented on #182
I've also encountered this problem but it's actually not a bug, but due to the way subscriber's hash is generated.

This error may occur when you try generate subscriber's hash without converting email to lowercase first. You need to convert `John@example.com` to `john@example.com` before generating subscriber hash for Mailchimp.

From Mailchimp's Docs:

[2019-10-12 15:48] stephenross commented on #182
All endpoints supported by this package that expect a subscriber hash as a required argument will also accept an email address raw as a string. If you need to generate the subscriber hash for other operations, such as updating an email address with the `create_or_update` method on the members endpoint, you can use the internal helper functions `check_subscriber_hash` and `get_subscriber_hash`. If

[2019-10-17 19:39] octavioamu commented on #203
I think is `update` not create, right?
[code]
Also Im having an issue on production, I need to enable something on mailchimp side? Seems I'm able to do it on my dev env but getting `'ListMembers' object has no attribute 'tags'` on production.

[2019-10-17 19:54] stephenross commented on #203
@octavioamu You are correct, it should be update. I have edited my comment. For your issue with production, you likely need to update the version of the wrapper. Support for the member tags endpoint was added in version 3.0.6, so you will need at least that version to function with those endpoints.

[2019-10-17 22:07] octavioamu commented on #203
Thanks @stephenross for the fast response, yes I just figured out was a version problem, production was on 3.0.4 bumped to 3.0.7 and now is working fine.

[2019-11-14 12:43] #209 closed

[2019-11-14 12:44] #204 closed

[2019-11-15 16:24] #180 closed

[2019-11-15 16:28] stephenross commented on #181
In case you haven't already gotten an answer/solution to this in the last year, you would want to create a segment in your list that you would use as the recipients of your campaign, and based on what you provided, you would want to target the value of a merge field for how that segment is checked. Segments like that are live, so removing the expected value from someone's merge field will remove t

[2019-11-15 16:28] #181 closed

[2019-11-15 16:30] #182 closed

[2019-11-15 16:39] stephenross commented on #188
@turnerneil The since parameter is included in the queryparams for the report calls. To use these, simply submit the request like the following (assuming `mclient` is the var that contains your connector class):

`mclient.reports.email_activity.all(campaign_id=ID, get_all=True, since=TIME)`

Remember that TIME should be an ISO 8601 formatted timestamp string (`2019-11-15T11:38:00-05:00` for exampl

[2019-11-15 16:39] #188 closed

[2019-11-15 16:48] stephenross commented on #198
If I am reading this correctly, you are adding and updating list members using this package and would like a method to do so asynchronously so that you can simply trigger the request without waiting or checking the return? I would be interested to hear your use case for why you would not want to wait for the return of those calls so that you can handle any errors that might come back. Currently, t

[2019-11-15 16:48] #198 closed

[2019-11-15 16:53] dzbee commented on #198
The case you describe with celery is along the lines of what I wanted. Thanks, I'll check it out.

[2019-11-15 19:11] stephenross commented on #210
The newer Automation endpoints since the Automations feature was made a free feature have not yet been added to the wrapper. If you would like to implement these endpoints, please do so and make a pull request. Follow the structure in the existing entities when setting it up, otherwise someone will implement it soon.

[2019-12-02 15:50] #133 closed

[2019-12-02 15:51] #146 closed

[2019-12-02 15:53] #157 closed

[2019-12-02 16:04] stephenross commented on #197
No idea if you are still seeing that error, but I will ask some questions just in case. Does your MailChimp account have any restrictions on it? Check for any problems in the Account Issues section of your account page. Additionally, what is the specific action you are attempting when you receive that error? If you are not seeing this issue any longer, please close this issue.

Thanks
Stephen Ross

[2019-12-03 15:58] stephenross commented on #201
I believe that the delete action no longer does anything in MailChimp. I attempted to use it for a project earlier and it appears that it is not possible to programatically archive people from lists in that manner any longer. This may be MailChimp cracking down on diverting people from MailChimp's unsubscribe to their own and preventing that entirely or it may be something else. Looking at the int

[2019-12-04 01:09] ricky-sb opened #214 "Events Not Support"
I don't see any way to use the [events endpoint](https://mailchimp.com/developer/reference/lists/list-members/list-member-events/).

Is there a way I can access the HTTP client and manually make the request?

[2019-12-06 17:58] fjblau opened #215 "Campaign Opens?"
Where do we get the campaign emails opened array from the API?

[2019-12-11 18:38] diekerk opened #217 "Question from someone new to Python"
I'm trying to find a way to pull all campaign IDs associated with a list. Done some digging in the various functions. However, still having trouble. Can anyone point me in the right direction?

[2019-12-14 03:34] miguoliang opened #219 "'MailChimpError' object is not subscriptable"
[code]
I run the above code, it  should raise a MailChimpError exception, but when I try to read the property `status`, I got a new exception that **'MailChimpError' object is not subscriptable**.

How can I fix it?

[2019-12-17 23:05] michaelwalkerfl commented on #219
If you update your code to `print(e[0]['status'])` it will return the status code you desire without an error.

[2019-12-21 22:13] OneAndOnlyOdin commented on #219
I have similar code if I do the `e[0]["status"]` think it just says "TypeError: 'MailChimpError' object does not support indexing" instead.

[2019-12-23 18:23] smajkows commented on #197
I've also experienced this error and I have created an API key and am the owner of the mailchimp account I'm using this on.

For reference I have been able to successfully read and write data from lists using this library but creating a list is throwing a 403 error for me as well.

[2020-01-21 06:58] regostar opened #220 "Logging not working"
[code]

The file log_files/mailchimp_3_log.log is empty!

[2020-01-21 07:02] regostar commented on #220
Resolved by adding this :-

`logging.getLogger().setLevel(logging.INFO)`

[2020-01-21 07:02] #220 closed

[2020-01-31 10:56] igianni84 opened #221 "How to add a tag when creating a contact?"
Hi, how do I do to add a tag when creating a contact?

Or... how can I add a tag to an existing contact?

Thanks

[2020-02-05 14:12] stephenross commented on #221
See issue #203 for info about adding tags to contacts, and if that doesn't answer your question, let me know.

[2020-02-21 11:17] marcomayer commented on #219
I did run into the same issue, surely is broken currently. Workaround:
`print(e.args[0].get("status"))`

[2020-02-26 14:39] DataGreed opened #222 "Member Exists error when using client.lists.members.create_or_update"
When using `client.lists.members.create_or_update` method I get this error if the user actually exists (the actual email is hidden for privacy concerns):

[code]

This is are the arguments aI use to call the method:

[code]

Library version is `3.0.12` running on Python 3.6

This seems strange as I am using `create_or_update` method which assumes that the user can already exist and I think that `c

[2020-03-10 16:06] aparakian opened #223 "Can't fetch list members by `unique_email_id`"
The [documentation](https://mailchimp.com/developer/guides/getting-started-with-ecommerce/#E-commerce_tracking_and_reports) mentions a way to fetch list members by `unique_email_id` and not only `subscriber_hash` :

Is there a way to do it with this library ?

[2020-03-10 16:08] #223 closed

[2020-03-29 07:33] vibarco opened #224 "How can i call client.search_members.get()?"
Hello,

very new to python and mailchimp, how can i correctly call client.search_members.get() method?

My try is not working
`client_mailchimp.search_members.get('fbd711c3a35644383cfacf11cebe4e52')`

[2020-04-11 16:29] tirkarthi opened #225 "Deprecation warning due to invalid escape sequences in Python 3.7"
Deprecation warnings are raised due to invalid escape sequences. This can be fixed by using raw strings or escaping the literals.

[code]

[2020-04-16 19:04] bramski commented on #214
@stephenross wondering why no contributor has commented here.  Is a pull request needed to get event support going?

[2020-04-22 06:32] maheshbist111 commented on #169
Hi there,
I'm getting this error while I try to get the lists:

ConnectionError at /admin/marketing/marketingpreference/add/
HTTPSConnectionPool(host='none.api.mailchimp.com', port=443): Max retries exceeded with url: /3.0/lists/None/members//28dabb32160f82570906312f23ae4c18 (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x050E7A30>: Failed to establish a new connecti

[2020-04-27 17:48] ricky-sb commented on #214
@bramski, if it helps, I ended up implementing this myself. Here's some sample code:

[code]

[2020-04-30 05:31] #217 closed

[2020-05-05 21:43] bramski commented on #214
Fixed by: https://github.com/VingtCinq/python-mailchimp/pull/226

[2020-05-06 01:22] stephenross commented on #225
Sorry for the long delay in response. Please create a branch with the changes for this and a version number bump and submit a PR.

[2020-05-06 01:24] stephenross commented on #224
Which endpoint are you attempting to hit in the documentation? We don't currently have anything by that signature you provided in the code. A quick check of the documentation shows me you are probably talking about https://mailchimp.com/developer/reference/search-members/? If so, we do not currently have that in the code, but if you create a branch that adds it (See PR #226 for a good example of w

[2020-05-06 01:31] stephenross commented on #222
@DataGreed I will need to look further into this, but for starters, we do have a helper function called check_subscriber_hash that lives in mailchimp3.helpers that you can use to convert an email address to a hash without any additional changes. We do also run that on anything that expects a subscriber hash so you can provide either the hash or the email address raw to that kwarg.

It is possible

[2020-05-06 01:31] #221 closed

[2020-05-06 01:34] stephenross commented on #215
We do not currently have an endpoint implemented for the https://mailchimp.com/developer/reference/reports/open-reports/ endpoint. If you would like to add that with a PR (see #226 for a good example), we can merge it in.

[2020-05-06 01:37] stephenross commented on #202
Sorry for the almost year-old response. Please contact MailChimp support about the documentation error, and if they indicate that the documentation is indeed incorrect, let us know and you can submit a PR with the change you mentioned for merging.

[2020-05-06 01:38] #201 closed

[2020-05-06 01:40] stephenross commented on #197
If you are getting a 403 error, you likely do not have any allowance for any additional lists. The lower tier plans allow a limited number of lists, with the free plan only allowing 1, and hiding a lot of the information about that list because you don't have access to some of the interface surrounding it. For reference, List in the api documentation and the package is the same as the Audience ter

[2020-05-06 01:40] #197 closed

[2020-05-07 10:59] tirkarthi commented on #225
No worries, created #227 running [pyupgrade](https://github.com/asottile/pyupgrade/) that automatically fixes this

[2020-06-02 17:27] rhiliam commented on #219
I have the same issue. Using 3.0.14

[2020-06-03 18:05] DataGreed commented on #203
Uhmm, I cannot make any sense of this SDK in case of tags.

[code]

First of all, why tags are mentioned two times? there is an interface object and (members.tags property) and a key in `data` dictionary.

Second, why `tags` is a dictionary and not an array? Whay kind of values are expected there? In mailchimp dashboard tags are just labels with no value expected, what should I pass there?.. I am

[2020-06-03 18:06] DataGreed commented on #203
Wait, do i have to support `active` value to all tags? o.O Why is it like that?

[2020-06-03 21:18] octavioamu commented on #203
@DataGreed please check the api docs, I understand your complains but are not related to this library are actually related to how the mailchimp API was designed https://mailchimp.com/developer/guides/how-to-use-tags/

[2020-06-11 11:14] andylolz opened #230 "Friendlier handling of batch operations"
Batch operations are super helpful for writing lots of data to mailchimp asynchronously. They’re supported by this client, but the user needs to figure out how to structure the list of dictionaries of operations.

It would be cool to leverage the rest of the client library to do this (since it has a much friendlier interface). I’ve had a go at that in this wrapper:
https://github.com/andylolz/pyth

[2020-07-20 16:54] frankiesimon commented on #224
@stephenross There's an endpoint for search_members:

I expected usage to be like this:
`client.search_members.get(query={"email_address": "some@email.com"}))`

However I don't get "exact results" even though I have that email returned in the MailChimp UI when searching for contacts.

Is there something missing?

[2020-09-20 18:02] frankiesimon commented on #224
Any chance anyone knows the answer to this?

[2020-09-29 06:42] Nasjoe opened #233 "Temporary failure in name resolution"
Hi !
On my two servers ( with different ip and locations ), i got this 'til this morning :

HTTPSConnectionPool(host='us16.api.mailchimp.com', port=443): Max retries exceeded with url: /3.0/lists/9553bacb88/members (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0xb1f5c6f0>: Failed to establish a new connection: [Errno -3] Temporary failure in name resolution'))

Dns c

[2021-01-18 01:36] Ryanauger95 opened #234 "Missing 1 required positional argument"
[code]

`Exception: update() missing 1 required positional argument: 'data'
`

Is this an error from the mailchimp3 product or the Mailchimp API? Any idea how I could fix this?

[2021-03-05 23:07] mowgliamu opened #236 "Batch operation issue with segment members"
I cannot get the count and offset parameters to work with batch operations for getting members from a segment. It works fine for an audience (list), but not for a segment. Has anyone encountered this?

[2021-06-14 04:08] leon-matthews opened #237 "Add missing 'Tag Search' endpoint"
Apologies if I've missed something obvious, but the end point to list all of the tags belonging to an audience/list, as documented [here in the Mailchimp API docs](https://mailchimp.com/developer/marketing/api/lists-tags-search/search-for-tags-on-a-list-by-name/), seems to be missing.

It's an easy one. The `list_id` is required. There is one optional query parameter `name` which is used as a pref

[2021-06-28 09:54] Shanesharr opened #238 "Update"

[2021-06-28 15:50] ujvalgandhi1 opened #239 "Need some assistance on client.reports.email_activity.all"
I am new to Python so this might be a stupid question

I am using the client.reports.email_activity.all to pull data on all the emails for a specific set of campaigns
Below is the code I am using but I am unable to get the timestamp OR the IP from the activity portion.

**Can someone please assist? **

for idx in campaign_ids:
    email_activity = client.reports.email_activity.all(campaign_id=idx,

[2021-06-30 16:28] stephenross commented on #239
As you might have seen in https://mailchimp.com/developer/marketing/api/email-activity-reports/list-email-activity/, the `timestamp` and `ip` are provided in `activity`, however they are provided individually in the activity. The `activity` portion of the return is a list, and so there is no `timestamp` or `ip` key to examine, which is likely giving you your errors. If you loop through the activit

[2021-06-30 16:28] #239 closed

[2021-06-30 16:32] stephenross commented on #237
Please replicate the structure of the current API providers and make a pull request. The filename should be `listtagsearch.py` and you can mimic the structure of https://github.com/VingtCinq/python-mailchimp/blob/master/mailchimp3/entities/listclients.py when constructing the class. Make sure that it is properly plugged in to the https://github.com/VingtCinq/python-mailchimp/blob/master/mailchimp3

[2021-06-30 16:34] stephenross commented on #238
If you have a specific feature that is currently missing from the library, please open an issue or pull request related to that. If you have general updates you would like to see, please let us know in a more targeted issue.

[2021-06-30 16:34] #238 closed

[2021-06-30 16:35] stephenross commented on #236
You will need to be more specific with your issue, what exactly are you trying to do, which specific portion of the class are you calling and what parameters are you passing in? How are you calling the list endpoint and what is the difference between how you are calling that and how you are calling the lists.segments.members endpoint?

[2021-07-05 23:29] leon-matthews commented on #237
Great! Thank you for the detailed notes. It's now on my task list.

[2021-11-23 11:22] elisaprio opened #242 "Required fields for campaign creation"
Hello,
First, thanks for your work on this package.

I noticed today that to created a campaign, reply_to, from_name and subject_line are not required, and settings neither.
And subject_lines, from_names, reply_to_addresses are required for a campaign of type 'variate'. If they are not filled, it falls back to settings and reply_to, from_name and subject_line.
Should I do a pull request to update

[2022-02-24 18:02] Jake-Mulhern commented on #219
I am running into the same issue.  Has a solution to this been implemented?

[2022-06-14 12:22] tys203831 opened #244 "Cannot assign personalized merge tags to "To: field, such as *|FNAME|*"
First of all, appreciate the works. This library is indeed helpful.

 It works, but I have still some problems I have faced

(1) Campaign name cannot be set different from subject line
(2) Cannot personalize To Field with merge tags, e.g., *|FNAME|*
(3) Cannot create preview text.

![image](https://user-images.githubusercontent.com/64836390/173575457-635d5546-d7e6-449d-9d73-cb6a4a41c90e.png)

Belo